.fieldset {
  background-color: var(--bg-element);
  border-radius: 12px;
  padding: 40px;
  display: grid;
  grid-template-columns: 291px auto;
  column-gap: 27px;
  margin-bottom: 8px;
}
.fieldset:last-of-type {
  margin-bottom: 0;
}
.fieldset__title {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 12px;
}
.fieldset__desc {
  font-size: 14px;
  line-height: 140%;
  color: #A1AEB3;
}

.fieldset__layout--1-end-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
}
.fieldset__layout--1-end-2 .input {
    grid-column-start: 1;
    grid-column-end: 3;
}
.fieldset__layout--1-end-2 .input:nth-last-of-type(1),
.fieldset__layout--1-end-2 .input:nth-last-of-type(2) {
  grid-column-start: unset;
  grid-column-end: unset;
}
