.link {
  --link-color: var(--c-accent);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--link-color);
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 24px;
  }
}
.link::before {
  display: block;
  width: 1rem;
  height: 1.125rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
  background-color: var(--c-accent);
  @media (min-width: 602px) and (max-width: 678px) {
    width: 32px;
    height: 36px;
    margin-right: 16px;
  }
}
.link--geo::before {
  content: "";
  @include getmask("../img/common/icon-geo.svg");
}
.link--time::before {
  content: "";
  @include getmask("../img/common/icon-time.svg");
}
.link--phone::before {
  content: "";
  @include getmask("../img/common/icon-tel.svg");
}
