.logo {
  display: block;
  max-width: 202px;
  height: 28px;
  @media (max-width: $mobile) {
    position: relative;
    z-index: 2;
  }
}
.logo__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
