.logo {
  display: block;
  max-width: 202px;
  height: 28px;
  @media (max-width: 1180px) {
    max-width: 122px;
    height: 18px;
  }
  @media (max-width: $burgerwidth) {
    position: relative;
    z-index: 2;
    height: 30px;
    max-width: 212px;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    max-width: 133px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    height: 60px;
    max-width: 424px;
  }
  @media (max-width: 330px) {
    max-width: 172px;
  }
}
.logo__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
