.message {
  min-height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
  }
}
.message-card {
  background-color: #fff;
  max-width: 708px;
  width: 100%;
  padding-top: 80px;
  padding-left: 119px;
  padding-right: 119px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  @media (max-width: 768px) {
    padding-top: 56px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 60px;
  }
}
.message-card__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
  @media (max-width: 768px) {
    font-size: 27px;
    line-height: 29px;
  }
}
.message-card__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #A1AEB3;
  margin-bottom: 37px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px) {
    margin-bottom: 26px;
  }
}

.message-card__desc br {
  @media (max-width: 768px) {
    display: none;
  }
}
.message-card__link {
  margin-top: 18px;
  font-family: "RF Dewi", sans-serif;
  font-size: 14px;
}

.message-card__button {
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 400;
  @media (max-width: 768px) {
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
  }
}