.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  --nav-title-color: var(--c-text-on-secondary);
  --nav-item-color: var(--c-text-on);
  --title-bottom: 12px;
  --item-bottom: 8px;
  --item-fz: 16px;
  --title-fz: 14px;
  text-transform: initial;
}
.nav__list {
  min-width: 202px;
}
.nav__item {
  margin-bottom: var(--item-bottom);
  font-size: var(--item-fz);
  font-weight: 400;
  line-height: 19px;
  color: var(--nav-item-color);
}
.nav__item--bold {
  font-weight: 600;
}
.nav__list-title {
  margin-bottom: var(--title-bottom);
  font-size: var(--title-fz);
  font-weight: 400;
  line-height: 140%;
  color: var(--nav-title-color);
}
.nav__list--contacts {
  margin-left: auto;
  text-align: right;
}
.nav__list--contacts .nav__item {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.nav__list--contacts .nav__list-title {
  margin-bottom: 8px;
}

.nav__link {
  transition: all 0.3s ease;
}
.nav__link:hover {
  @media (any-hover: hover) {
    color: var(--c-text-on-secondary);
  }
}
