.promo-carousel {
  min-height: 688px;
  margin-bottom: 8px;
  @media (min-width: 1400px) and (max-width: 1440px) {
    // max-height: 680px;
    max-height: initial;
  }
  @media (max-width: 1400px) {
    min-height: 480px;
  }
  @media (max-width: 1280px) {
    min-height: 480px;
  }
  @media (max-width: 1024px) {
    min-height: 450px;
  }
  @media (max-width: $mobile-break) {
    min-height: initial;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 16px;
  }
}
.promo-carousel__slide {
  display: grid;
  grid-template-columns: 75.421348314606741573033707865169% auto;
  border-radius: 12px 0px 0px 12px;
  @media (max-width: 1130px) {
    grid-template-columns: 70.421348314606741573033707865169% auto;
  }
  @media (max-width: $mobile-break) {
    grid-template-columns: 1fr;
  }
}
.promo-carousel__hero {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.promo-carousel__pic {
  --img-brad: 12px 0px 0px 12px;
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: var(--img-brad);
  @media (max-width: $mobile-break) {
    --img-brad: 12px 12px 0 0;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    --img-brad: 24.5px 24.5px 0 0;
  }
}
.promo-carousel__img {
  border-radius: var(--img-brad);
  object-fit: cover;
}
.promo-carousel__info {
  --info-brad: 0px 12px 12px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  padding-right: 12px;
  padding-bottom: 88px;
  background-color: #fff;
  border-radius: var(--info-brad);
  @media (max-width: $mobile-break) {
    --info-brad: 0 0 12px 12px;
    padding-right: 33px;
    padding-bottom: 77px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    --info-brad: 0 0 24.5px 24.5px;
    padding: 40px;
    padding-right: 68px;
    padding-bottom: 161px;
  }
}
.promo-carousel__category {
  margin-bottom: 32px;
  font-family: "RF Dewi", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #a1aeb3;
  @media (max-width: $mobile-break) {
    font-family: unset;
    margin-bottom: 12px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-family: unset;
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.promo-carousel__title {
  margin-bottom: 22px;
  font-size: 27px;
  font-weight: 400;
  line-height: 110%;
  color: #000000;
  @media (max-width: $mobile-break) {
    margin-bottom: 20px
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 55px;
    margin-bottom: 34px;
  }
}

.promo-carousel__desc {
  @media (max-width: $mobile-break) {
    margin-bottom: 60px
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 28px;
  }
}

.promo-carousel__button {
  @media  (max-width: $mobile-break) {
    --fz-button: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    --fz-button: 28px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.promo-carousel__button:hover {
  @media (any-hover: hover) {
    --button-bg: #6c7982;
  }
}

.promo-carousel__pagination {
  position: absolute;
  bottom: 30px;
  left: calc(75.421348314606741573033707865169% + 20px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 280px;
  width: 100%;
  transition: all 0.3s ease;
  @media (max-width: 1130px) {
    left: calc(70.921348% + 20px);
  }
  @media (max-width: $mobile-break) {
    left: 24px
  }
  @media (min-width: 602px) and (max-width: 768px) {
    bottom: 200px;   
    left: 48px;
  }
}
.promo-carousel__pagination .swiper-pagination-bullet {
  display: block;
  max-width: 36px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 8px;
  cursor: pointer;
  @media (min-width: 602px) and (max-width: 768px) {
    max-width: 72px;
    margin-right: 16px;
  }
}
.promo-carousel__pagination .swiper-pagination-bullet::before {
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background: #eceff1;
  border-radius: 100px;
}
.promo-carousel__pagination .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}
.promo-carousel__pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background: #000000;
}
.promo-carousel-card {
  position: absolute;
  left: 8px;
  bottom: 8px;
  z-index: 2;
  max-width: 232px;
  padding: 20px;
  padding-top: 24px;
  padding-right: 15px;
  background-color: #5f6c75;
  border-radius: 6px;
  padding-bottom: 28px;
  @media (max-width: $mobile-break) {
    padding: 16.75px;
    display: grid;
    grid-template-columns: 52.974930362116991643454038997214% auto;
    column-gap: 26px;
    align-items: center;
    max-width: 100%;
    width: 100%;
    position: static;
    margin-top: 8px;
    border-radius:  12px;
    padding-bottom: 22px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    margin-top: 16px;
    padding: 34px;
    border-radius: 12px;
    padding-bottom: 38px;
  }
}
.promo-carousel-card__title {
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #f0f3f5;
  @media (max-width: $mobile-break) {
    font-size: 14px;
    margin-bottom: 0;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 28px;
  }
}
.promo-carousel-card__desc {
  margin-bottom: 39px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #a1aeb3;
  font-family: "RF Dewi", sans-serif;
  @media (max-width: $mobile-break) {
    display: none
  }
}
.promo-carousel-card__button {
  @media (max-width: $mobile-break) {
    --fz-button: 12px;
    padding: 7px 17px 9px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: 4px;
    margin-top: auto;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 24px;
    padding: 14px 34px 18px;
    margin-right: 8px;
  }
}

