.promo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  @media (max-width: 810px) {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    row-gap: 16px;
  }
}

.promo-gallery-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 17.22vw;
  padding: 1.5rem 3.8125rem 1.25rem 1.25rem;//24px 61px 20px 20px;
  background-color: #fff;
  border-radius: var(--brad-regular);
  @media (max-width: 1200px) {
    padding-right: 100px
  }
  @media (max-width: 768px) {
    min-height: 50vw;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    padding: 32px;
    border-radius: 25px;
  }
  @media (max-width: 610px) {
    border-radius: 8.75px;
  }
}
.promo-gallery-card__top,
.promo-gallery-card__bottom {
  position: relative;
  z-index: 2;
}
.promo-gallery-card__title {
  max-width: 70%;
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  color: #000000;
  // @media (min-width: 1800px) {
  //   max-width: 325px;
  // }
  @media (min-width: 1025px) and (max-width: 1280px) {
    // font-size: 17px;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    // font-size: 14.22px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 32px;
    max-width: 560px;
  }
  @media (max-width: 601px) {
    // font-size: 16px
    font-size: 1.1rem;
  }
}
.promo-gallery-card__title:only-child {
    margin-bottom: 0;
}

.promo-gallery-card__desc {
  max-width: 220px;
  font-family: "RF Dewi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #a1aeb3;
}

.promo-gallery-card__button {
  @media (min-width: 1025px) and (max-width: 1280px) {
    font-size: 12.4px;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 9.96px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 24px;
    padding: 14px 34px 18px;
  }
  @media (max-width: 601px) {
    padding: 7px 17px 9px;
  }
}

.promo-gallery-card__pic {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.promo-gallery-card__img {
  border-radius: 12px;
  object-fit: cover;
  @media (min-width: 602px) and (max-width: 768px) {
   border-radius: 25px; 
  }
}

.promo-gallery-card--no-pic {
  @media (max-width: 1200px) {
    padding-right: 20px
  }
  @media (max-width: 601px) {
    padding-right: unset;
  }
}
.promo-gallery-card--no-pic .promo-gallery-card__pic {
  display: none;
}
.promo-gallery-card--no-pic .promo-gallery-card__title {
  max-width: 100%;
  // @media (min-width: 1021px) {
  // }
}
.promo-gallery-card--no-pic .promo-gallery-card__desc {
  max-width: 100%;
}
.promo-gallery-card--accent {
  background-color: var(--c-accent);
}
.promo-gallery-card--accent .promo-gallery-card__title {
  color: #ffffff;
}
