.review-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f0f3f5;
  border-radius: 6px;
}
.review-card__pic {
  display: block;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  --size: 140px;
  @media (max-width: 420px) {
    --size: 90px;
    height: 94px;
  }
}
.review-card__img {
  border-radius: 6px;
  object-fit: cover;
}

.review-card__info {
  padding: 20px;
  @media (max-width: 601px) {
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 3px;
    padding-bottom: 14px;
  }
}

.review-card__profile {
  display: block;
  width: fit-content;
  padding: 0px 8px 4px;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
  background: #ffffff;
  border-radius: 6px;
  transition: all 0.3s ease;
  @media (max-width: 420px) {
    font-size: 10px;
    padding: 0 4px 2px 4px;
    margin-bottom: 8px
  }
}
.review-card__profile:hover {
  @media (any-hover: hover) {
    color: #fff;
    background: #6c7982;
  }
}

.review-card__feedback {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
  @media (max-width: 420px) {
    font-size: 10px;
    line-height: 1.2;
  }
}
