.row-filters {
  // display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  column-gap: 8px;
  row-gap: 8px;
  @media (max-width: 576px) {
    margin-bottom: 16px;
    flex-wrap: wrap;
    justify-content: stretch;
  }
}

.row-filters__select--has-label {
  background-color: var(--bg);
  border-radius: var(--brad);
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row-filters__select {
  // margin-right: 8px;
  min-width: fit-content;
  // padding-right: 10px;
  --bg: #fff;
  --angle-color: #000;
  --value-color: #000;
  --brad: 6px;
  --maxw: 256px;
  z-index: 2;
  position: relative;
}
.row-filters__select-label {
  margin-right: -8px;
  z-index: 2;
  position: relative;
  white-space: nowrap;
  display: block;
  @media (max-width: 1024px) {
    margin-right: auto;
  }
}


.row-filters__select > .select  {
  position: static;
}
.row-filters__select > .select::before {
  cursor: pointer;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.row-filters__select .choices__inner  {
  z-index: 7;
  position: relative;
}
.row-filters__select--has-label .select__item--selectable  {
  background-color: transparent;
}

.row-filters__select--has-label .select__list--single > .select__item  {
  @media (max-width: 1024px) {
    color: transparent;
  }
}

.row-filters__select--has-label .select__list--single > .select__item  {
  @media (max-width: 1024px) {
    white-space: initial;
    height: 42px;
  }
}

