.sidebar {
  position: relative;
}
.sidebar__sticky {
  position: sticky;
  top: 98px;
  bottom: 8px;
  @media (min-width: 1800px) {
    top: 165px;
    margin-bottom: 110px;
  }
}

// .sidebar .link--time {
//   @media (min-width: 1025px) {
//     margin-bottom: 17px;
//   }
// }

/*
<article class="sidebar-card">
  <div class="sidebar-card__top">
  </div>
  <div class="sidebar-card__bottom">
  </div>
</article>
 */
.sidebar-card {
  // border-radius: 8px;
  border-radius: var(--brad-regular);
  background-color: #5F6C75;
  padding: 2.5rem;//40px;
  margin-bottom: 0.5rem;
  color: #fff;
  @media (max-width: 768px) {
    padding: 30px 32px;
  }
}
.sidebar-card--autoheight {
  min-height: initial;
}
.sidebar-card__desc {
  margin-bottom: 1.9285714285714286em;//27px;
  font-family: 'RF Dewi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;//14px;
  line-height: 1.2142857142857142;
  color: #A1AEB3;
}
.sidebar-card__desc:last-of-type {
  margin-bottom: 0;
}
.sidebar-card__link {
  --link-color: #fff;
  margin-bottom: 0.6875rem;//11px;
}
.sidebar-card__link:first-of-type {
  margin-top: 1.6875rem;//27px;
  @media (max-width: 768px) {
    margin-top: 16px;
  }
}
.sidebar-card__link::before {
  background-color: #fff;
}
