.socials {
  display: flex;
  align-items: center;
}
.socials__item {
  margin-right: 20px;
  @media (max-width: 575px) {
    margin-right: 9px;
  }
}
.socials__link {
  --size: auto;
  --icon-color: var(--c-text-grey-2);
  display: block;
  width: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  max-height: var(--size);
  fill: var(--icon-color);
  transition: var(--tr);
}
.socials__link--has-stroke {
  // margin-left: 7px;
  stroke: var(--icon-color);
}

.socials__link:last-of-type {
  margin-right: 0;
}

.socials__link:hover {
  @media (min-width: $minHover) {
    --icon-color: var(--c-accent);
    // fill: var(--c-accent);
    // stroke: var(--icon-color);
    color: var(--c-text-on-secondary);
  }
}

.socials--icons .socials__link {
  --size: 36px;
  background-color: #fff;
  border-radius: 100%;
  padding: 5px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__icon--google {
  height: 16px;
}
.socials__icon--vk {
  height: 12px;
}
.socials__icon--yandex {
  height: 16px;
}
