.about-ol {
  background: #FFFFFF;
  border-radius: 12px;
  padding-top: 82px;
  padding-bottom: 106px;
  @media (max-width: 576px) {
    padding-top: 40px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 67px;
  }
}
.about-ol__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  text-align: center;
  color: #000000;
  margin-bottom: 49px;
  @media (max-width: 601px) {
    margin-bottom: 28px;
    font-size: 20px;
  }
}
.about-ol-list {
  max-width: 1186px;
  margin-left: auto;
  margin-right: auto;
  column-count: 2;
  column-gap: 8px;
  counter-reset: about-ol;
  @media (max-width: 768px) {
    column-count: 1;
  }
}
.about-ol-list__item {
  background: #F0F3F5;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  list-style: none;
  counter-increment: about-ol;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 33px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}
.about-ol-list__item::before {
  content: counter(about-ol);
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-right: 45px;
}
.about-ol-list__item:last-child {
  margin-bottom: 0;
}
