.account {
  display: grid;
  grid-template-columns: 318px auto;
  column-gap: 30px;
  margin-bottom: 58px;
  @media (max-width: 1020px) {
    grid-template-columns: 1fr;
  }
}

.account__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  margin-bottom: 31px;
  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 24px;
    padding-left: 20px;
  }
}
.account__pages {
  @media (min-width: 1021px) {
    position: relative;
  }
}
.account__pages .side-navigation__list {
  @media (min-width: 1021px) {
    position: sticky;
    top: 100px;
  }
}

.account-personal__main {
  margin-bottom: 34px;
}
.account-personal-addresses__card .fieldset__title {
  margin-bottom: 54px;
}

.account-personal-addresses {
  margin-bottom: 32px;
}
