.blog__article-layout {
  display: grid;
  grid-template-columns: auto minmax(320px, 469px);
  column-gap: 8px;
  @media (max-width: 968px) {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}

.blog-article {
  background-color: var(--bg-element);
  padding: 33px 20px 20px;
  margin-bottom: 40px;
  margin-top: 8px;
  border-radius: 12px;
  @media (max-width: 601px) {
    padding-top: 20px;
    margin-top: -30px;
    margin-bottom: 0;
  }
}
.blog-article__container {
  max-width: 740px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 601px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.blog-article__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #A1AEB3;
  display: block;
  margin-bottom: 20px;
  @media (max-width: 601px) {
    margin-bottom: 16px;
  }
}
.blog-article__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
  @media (max-width: 601px) {
    font-size: 27px;
    line-height: 1.1;
    margin-bottom: 17px
  }
}
.blog-article__summary {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 39px;
  @media (max-width: 576px) {
    margin-bottom: 20px;
    padding-right: 20px;
    line-height: 1.25;
  }
}
.blog-article__cover {
  height: 450px;
  display: block;
  margin-bottom: 40px;
  @media (max-width: 601px) {
    height: 259px;
    margin-bottom: 20px
  }
  @media (max-width: 420px) {
    height: 159px;
  }
}
.blog-article__cover-pic {
  display: block;
  height: 100%;
  width: 100%;
}
.blog-article__cover-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.blog-article__index {
  background: #F0F3F5;
  border-radius: 6px;
  padding: 40px;
  @media (max-width: 601px) {
    padding: 20px 24px;
  }
}
.blog-article__index-title {
  font-size: 14px;
  line-height: 17px;
  color: #A1AEB3;
  margin-bottom: 28px;
  @media (max-width: 601px) {
    margin-bottom: 16px;
  }
}
.blog-article__index-item {
  margin-bottom: 7px;
  text-decoration: underline;
  color: #5F6C75;
  @media (max-width: 601px) {
    margin-bottom: 16px;
  }
}
.blog-article__index-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: inherit;
  @media (max-width: 601px) {
    font-size: 12px;
  }
}

.blog-article__content {
  margin-bottom: 80px;
  @media (max-width: 601px) {
    margin-bottom: 28px
  }
}
.blog-article__content > h2 {
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 32px;
  @media (max-width: 601px) {
    margin-top: 28px;
    margin-bottom: 18px;
    font-size: 20px;
  }
}
.blog-article__content > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 22px;
  @media (max-width: 601px) {
    margin-bottom: 12px;
    line-height: 1.25;
  }
}

.blog-article-share {
  background-color: #F0F3F5;
  padding: 40px;
  @media (max-width: 601px) {
    padding: 32px 24px 46px;
  }
}
.blog-article-share__title {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  text-align: center;
  color: #000000;
  @media (max-width: 601px) {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.blog-article-share__button {
  display: block;
  max-width: 229px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 19px;
  padding-bottom: 24px;
  @media (max-width: 601px) {
    width: fit-content;
    padding: 11px 22px 14px;
  }
}

.blog-article__gallery {
  padding-top: 18px;
}
.blog-article__gallery-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  row-gap: 8px;
  margin-bottom: 16px;
}
.blog-article__media-pic {
  display: block;
  height: 100%;
  display: block;
}
.blog-article__media-img {
  border-radius: 8px;
  object-fit: cover;
}
.blog-article__gallery-more {
  --button-color: #A1AEB3;
}
.blog-article__gallery-more--hidden {
  opacity: 0;
}

.blog-article-prodcuts__gallery {
  margin-bottom: 30px;
  @media (max-width: 601px) {
    margin-bottom: 24px
    
  }
}

.blog-article .products--layout-horizontal .product-card__button-add::before {
  background-color: #fff;
}
.blog-article .products--layout-horizontal .product-card__inner {
  @media (max-width: 601px) {
    padding-left: 8px;
  }
}
.blog-article .products--layout-horizontal .product-card__pic {
  @media (max-width: 601px) {
    margin-top: 0;
    margin-right: 16px;
    width: 72px;
    min-width: 72px;
    height: 72px;
    padding: 8px;
  }
}
.blog-article .products--layout-horizontal .product-card__options {
  margin-bottom: 12px;
}

.blog-article .gallery-accordion {
  padding-top: 20px;
  @media (max-width: 601px) {
    padding-top: 12px;
  }
}
.blog-article .gallery-accordion__button-more {
  margin-left: 0;
}

.blog-article .blog-sidebar {
  margin-top: 9px;
}

.blog-aritcle-products {
  padding-top: 18px;
}
.blog-article-products__button-more {
  @media (max-width: 601px) {
    padding-top: 11px;
    padding-bottom: 14px;
    font-size: 14px;
  }
}