.catalog {
  display: grid;
  grid-template-columns: 318px auto;
  column-gap: 30px;
}


.catalog-products {
  padding-bottom: 80px;
}
.catalog-products__filters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.catalog-products__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  column-gap: 8px;
  row-gap: 8px;
  margin-bottom: 31px;
}
.catalog-products__filters .row-filters__select {
  margin-right: 8px;
}
