.changes {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.changes__title {
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 40px;
  }
  @media (max-width: 601px) {
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
.changes__title br {
  @media (max-width: 768px) {
    display: none;
  }
}
.changes__gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1184px;
  margin-right: auto;
  margin-bottom: 110px;
  margin-left: auto;
  @media (min-width: 1800px) {
    max-width: 1580px;
  }
  @media (min-width: 2000px) {
    max-width: 2090px;
  }
  @media (max-width: 1300px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 40px
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 46px;
  }
  @media (max-width: 601px) {
    margin-bottom: 23px;
  }
}

.changes__desc {
    margin-bottom: 122px;
  @media (max-width: 1280px) {
    margin-bottom: 88px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 61px;
  }
  @media (max-width: 601px) {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
    line-height: 1.2;
  }
}
.changes__desc br {
  @media (max-width: 768px) {
    display: none
  }
}

.changes-card {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
  @media (max-width: 1300px) {
   justify-content: flex-end;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 16px;
  }
  @media (max-width: 768px) {
    margin-right: 0;
    flex-direction: row-reverse;
  }
  @media (max-width: 601px) {
    margin-bottom: 8px;
  }
}
.changes-card:last-child {
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.changes-card__before-img,
.changes-card__after-img {
  object-position: bottom;
  object-fit: cover;
}

.changes-card:nth-of-type(even) {
  margin-right: 0;
  @media (max-width: 1300px) {
    justify-content: flex-start;
  }
  .changes-card__before-img, .changes-card__after-img {
    object-position: top;
  }
  @media (max-width: 768px) {
    justify-content: flex-start
  }
}
.changes-card:nth-of-type(even) .changes-card__before {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: auto;
    margin-left: 16px;
    margin-right: 0;
  }
  @media (max-width: 601px) {
    margin-left: 8px;
  }
}
.changes-card:nth-of-type(even) .changes-card__before .changes-card__title {
  @media (max-width: 768px) {
    position: static;
    text-align: right;
    margin-bottom: 0;
    margin-top: 6px;
    margin-left: auto
  }
  @media (max-width: 601px) {
    margin-top: 3px;
  }
}

.changes-card__title {
  position: absolute;
  top: -1.75rem;//-28px;
  left: 0;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;//14px;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
  // @media (min-width: 1800px) {
  //   font-size: 18.67px;
  // }
  @media (max-width: 768px) {
    font-size: 24px;
    top: -72px;
    margin-bottom: 20px;
    max-width: 240px;
  }
  @media (max-width: 601px) {
    font-size: 12px;
    top: -36px;
    line-height: 1.2;
    margin-bottom: 10px;
    max-width: 120px;
  }
}
.changes-card__before {
  position: relative;
  margin-right: 8px;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-right: 16px;
  }
}

.changes-card__before-pic {
  --size: 14.5rem;//230px;
  display: block;
  width: 100%;
  max-width: var(--size);
  height: var(--size);
  @media (max-width: 1300px) {
    --size: 210px;
  }
  @media (max-width: 810px) {
    --size: 150px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    --size: 288px;
  }
  @media (max-width: 601px) {
    --size: 144px;
  }
}

.changes-card__after-pic {
  display: block;
  width: 100%;
  --size: 22rem; //330
  max-width: var(--size);
  height: var(--size);
  // @media (max-width: 1300px) {
  //   --size: 310px;
  // }
  // @media (max-width: 810px) {
  //   --size: 240px;
  // }
  @media (min-width: 602px) and (max-width: 768px) {
    --size: 440px;
  }
  @media (max-width: 610px) {
    --size: 220px;
    --height: 210px;
  }
}

.changes-card__before-img,
.changes-card__after-img {
  border-radius: 12px;
  @media (min-width: 602px) and (max-width: 768px) {
    border-radius: 24.5px;
  }
}

.changes-card__before-pic,
.changes-card__after-pic {
  border-radius: 12px;
  @media (min-width: 602px) and (max-width: 768px) {
    border-radius: 24.5px;
  }
}

.changes-card:nth-of-type(odd) {
  align-items: flex-end;
  padding-top: 144px;
  @media (max-width: 768px) {
    padding-top: 0;
    flex-direction: row;
  }
}
// .changes-card--end {
//   align-items: flex-end;
//   padding-top: 144px;
//   @media (max-width: 601px) {
//     padding-top: 0
//   }
// }

.changes__button-more {
  margin-bottom: 41px;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 54px;
  }
  @media (max-width: 601px) {
    margin-bottom: 26px
  }
}

.changes__troubles {
  padding-top: 111px;
  --categories-nav-link-bg: #fff;
  --categories-nav-link-color: #000;
  @media (min-width: 602px) and (max-width: 768px) {
    padding-top: 50px;
  }
}

.changes__captions {
  @media (max-width: 601px) {
    padding-left: 8px;  
    padding-right: 8px; 
  }
}

.page__changes .page-heading__title {
  @media (min-width: 601px) {
    margin-bottom: 45px;
  }
}
.page__changes .page-heading {
  margin-bottom: 44px;
  @media (max-width: 601px) {
    margin-bottom: 42px;
  }
}
.page__changes .categories {
  @media (min-width: 602px) {
    margin-bottom: 135px;
  }
}

.page__changes .blog-card {
  @media (max-width: 601px) {
    row-gap: 0;
    
  }
}
.page__changes .blog-card__title {
  @media (max-width: 601px) {
    padding-right: 10px;
  }
}

.page__changes .captions-1-1__desc {
  @media (min-width: 602px) {
    line-height: 1.4;
  }
}
