.checkout__subtotal .cart-total__title,
.checkout__subtotal .cart-total__value {
  font-size: 14px;
  line-height: 140%;
}

.checkout__select {
  --maxw: 100%;
  --bg: var(--c-accent);
  --vlaue-color: var(--c-text-on);
  --angle-color: #fff;
  margin-right: 0;
  margin-bottom: 8px;
}

.checkout__fields {
  padding-bottom: 72px;
  @media (max-width: 576px) {
    padding-bottom: 60px;
  }
}
