.checkout {
  @media (max-width: 601px) {
    margin-bottom: 40px;
  }
}
.checkout__subtotal .cart-total__title,
.checkout__subtotal .cart-total__value {
  font-size: 14px;
  line-height: 140%;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 28px;
  }
}

.checkout__select {
  --maxw: 100%;
  --bg: var(--c-accent);
  --vlaue-color: var(--c-text-on);
  --angle-color: #fff;
  margin-right: 0;
  margin-bottom: 8px;
}

.checkout__fields {
  padding-bottom: 72px;
  @media (max-width: 576px) {
    padding-bottom: 60px;
  }
}
.checkout__fields .fieldset__title {
  @media (max-width: 768px) {
    margin-bottom: 11px;
  }
}

.page__checkout .page-heading__title:only-child {
  @media (min-width: 601px) {
    margin-bottom: 79px;
  }
}
.page__checkout .sidebar-card {
  @media (min-width: 602px) {
    padding-top: 37px;
    padding-bottom: 21px
  }
}
.page__checkout .cart-total__row {
  @media (min-width: 602px) {
    margin-bottom: 17px;
  }
}
.page__checkout .cart-total {
  @media (min-width: 602px) {
    padding-top: 27px;
    padding-bottom: 40px
  }
}
.page__checkout .cart-total .cart-total__row {
  @media (min-width: 602px) {
    margin-bottom: 28px
  }
}
.page__checkout .cart-sidebar {
  @media (max-width: 1200px) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
    pointer-events: none;
  }
}
.page__checkout .sidebar__sticky {
  @media (max-width: 1200px) {
    position: static;
    height: 100%;
    justify-content: flex-end;
  }
}
.page__checkout .sidebar-card {
  @media (max-width: 1200px) {
    pointer-events: initial;
  }
}
.page__checkout .cart-total {
  @media (max-width: 1200px) {
    position: sticky;
    bottom: 8px;
  }
}

.button-detect-city {
  font-size: 14px;
  font-family: "RF Dewi", sans-serif;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 28px;
  }
}

.checkout__button-pick-location {
  margin-top: 12px;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-top: 24px;
    font-size: 24px;
  }
}
