.hero {
  margin-bottom: 40px;
  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
  @media (max-width: 601px) {
    // padding-left: 12px;
    // padding-right: 12px;
    margin-bottom: 30px
  }
}
.hero__layout {
  display: grid;
  grid-template-areas: "media media" "title desc";
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 40px;
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  @media (max-width: 601px) {
    display: block;
    padding-bottom: 30px;
  }
}
.hero__media {
  grid-area: media;
  display: block;
}
.hero__pic {
  display: block;
  @media (max-width: 601px) {
    margin-bottom: 20px;
  }
}
.hero__img {
  border-radius: 12px;
  height: 500px;
  display: block;
  object-fit: cover;
  @media (max-width: 601px) {
    height: 220px
  }
}
.hero__title {
  grid-area: title;
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  color: #000000;
  @media (max-width: 601px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.hero__desc {
  grid-area: desc;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
.hero__paragraph {
  margin-bottom: 22px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
}
.hero__ol {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
}
