.locations {
  padding-top: 40px;
  --bg: var(--bg-element);
  @media (max-width: 810px) {
    padding-top: 30px
  }
}
.locations--no-bg {
  padding-top: 0;
 --bg: transparent;
}
.locations__container {
  padding-top: 184px;
  padding-bottom: 80px;
  background-color: var(--bg);
  border-radius: 12px;
  @media (max-width: 962px) {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    padding-bottom: 80px;
    border-radius: 25px;
  }
  @media (max-width: 601px) {
    padding: 40px;
  }
}
.locations__gallery {
  display: grid;
  grid-template-columns: 596px 470px;
  column-gap: 127px;
  justify-content: center;
  margin-bottom: 50px;
  max-width: var(--w-container);
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1800px) {
    // max-width: 1580px;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 2000px) {
    // max-width: 2090px;
  }
  @media (max-width: 1300px) {
    grid-template-columns: 1.2fr 0.8fr;
    column-gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
  }
  @media (max-width: 810px) {
    margin-bottom: 20px
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 80px;
    margin-bottom: 80px;
  }
  @media (max-width: 601px) {
    row-gap: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.locations--no-bg .locations__container {
  padding-top: 122px;
  @media (max-width: 768px) {
    padding-top: 96px
  }
  @media (max-width: 601px) {
    padding-top: 48px
  }
}

.locations-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locations-card__title {
  margin-bottom: 0.625rem;
  font-size: 1.6875rem;
  font-weight: 400;
  line-height: 110%;
  color: #000000;
  @media (max-width: 768px) {
    font-size: 40px;
    margin-bottom: 6px;
    line-height: 1.2;
  }
  @media (max-width: 601px) {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

.locations-card__address {
  margin-bottom: 1.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  color: #a1aeb3;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 768px) {
    line-height: 1.2;
    margin-bottom: 48px;
  }
  @media (max-width: 601px) {
    margin-bottom: 24px;
  }
}

.locations-card__desc {
  max-width: 451px;
  margin-bottom: 2em;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
  @media (min-width: 1800px) {
    max-width: 90%;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    max-width: 100%;
    font-size: 28px;
  }
  @media (max-width: 768px) {
    line-height: 1.2;
    margin-bottom: 32px;
  }
  @media (max-width: 601px) {
    margin-bottom: 16px;
  }
}

.locations-card__pic {
  display: block;
  margin-bottom: 28px;
  @media (max-width: 768px) {
    order: 5;
    margin-bottom: 0;
  }
}
.locations-card__img {
  object-fit: cover;
  border-radius: 12px;
  @media (min-width: 602px) and (max-width: 768px) {
    border-radius: 24px;
  }
}

.locations-card--reverse .locations-card__pic {
  order: 5;
  margin-bottom: 0;
}
.locations__button-more {
  @media (max-width: 768px) {
    background-color: #000;
    color: #fff;
  }
}

.locations__container .container {
  @media (max-width: 1280px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 601px) {
    padding-left: 0;
    padding-right: 0;
  }
}