.magazine {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 810px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.magazine__row {
  display: grid;
  grid-template-areas: "card pic1 pic2 pic3" "card pic4 pic4 pic3";
  grid-template-columns: 49.7% 14.1% 13.5714285714% auto;
  row-gap: 8px;
  column-gap: 8px;
  margin-bottom: 8px;
  @media (min-width: 602px) and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card pic1" "card pic2" "card pic3";
    row-gap: 8px;
    column-gap: 8px;
  }
  @media (max-width: 601px) {
    row-gap: 4px;
    column-gap: 4px;
  }
}

.magazine-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 20px;
  border-radius: 12px;
  @media (min-width: 602px) and (max-width: 768px) {
    padding: 40px;
    padding-right: 34px;
  }
  @media (max-width: 601px) {
    padding: 20px;
    padding-right: 17px;
  }
}
.magazine-card:first-child {
  background: #5f6c75;
}

.magazine-card__title {
  font-size: 27px;
  font-weight: 400;
  line-height: 110%;
  color: #f0f3f5;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 32px;
  }
  @media (max-width: 768px) {
    line-height: 1.18;
  }
  @media (max-width: 601px) {
    font-size: 16px;
  }
}
.magazine-card__button {
  margin-bottom: 31px;
  margin-left: 5px;
  display: block;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 48px;
    padding: 14px 34px 18px;
    font-size: 24px;
    margin-bottom: 62px;
  }
  @media (max-width: 601px) {
    margin-bottom: 24px;
    padding: 7px 17px 9px;
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.magazine-card__button:hover {
  @media (any-hover: hover) {
    --button-bg: #000;
  }
}
.magazine-card__desc {
  max-width: 508px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #a1aeb3;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 768px) {
    line-height: 1.25;
    font-family:  "RF Dewi", sans-serif;
  }
  @media (max-width: 601px) {
    font-size: 12px;
  }
}

.magazine-card:nth-child(1) {
  grid-area: card;
}
.magazine-card:nth-child(2) {
  grid-area: pic1;
  height: 140px;
  @media (min-width: 602px) and (max-width: 768px) {
    height: 224px
  }
  @media (max-width: 601px) {
    height: 112px
  }
}
.magazine-card:nth-child(3) {
  grid-area: pic2;
  height: 140px;
  @media (min-width: 602px) and (max-width: 768px) {
    height: 224px
  }
  @media (max-width: 601px) {
    height: 112px
  }
}
.magazine-card:nth-child(4) {
  grid-area: pic3;
  @media (min-width: 602px) and (max-width: 768px) {
    height: 224px
  }
  @media (max-width: 601px) {
    height: 140px;
  }
  @media (max-width: 420px) {
    height: 112px
  }
}
.magazine-card:nth-child(5) {
  grid-area: pic4;
  height: 232px;
  @media (max-width: 768px) {
    display: none
  }
}

.magazine-card__bg-pic {
  --brad: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--brad);
}
.magazine-card__img {
  border-radius: var(--brad);
  object-fit: cover;
}

.magazine-card-fullsize {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 630px;
  padding-bottom: 80px;
  overflow: hidden;
  border-radius: 12px;
  @media (max-width: 1024px) and (min-width: 768px) {
    height: 480px;
  }
  @media (max-width: 962px) {
    height: 400px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    height: 500px;
    border-radius: 24.5px;
  }
  @media (max-width: 601px) {
    height: 360px;
    padding-bottom: 44px;
  }
  @media (min-width: 1800px) {
    height: 740px;
  }
}
.magazine-card-fullsize::before {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 12px;
  @media (min-width: 602px) and (max-width: 768px) {
    border-radius: 24.5px;
  }
}
.magazine-card-fullsize__info {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.magazine-card-fullsize__pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  @media (max-width: 962px) {
    left: -15%;
    top: -30%;
    width: 120%;
    height: 130%;
  }
  @media (max-width: 768px) {
    left: -28%;
    top: -61%;
    width: 160%;
    height: 160%;
  }
  @media (min-width: 1850px) {
    top: -4%;
    height: 110%;
  }
  @media (min-width: 1930px) {
    height: 145%;
  }
}
.magazine-card-fullsize__img {
  object-fit: cover;
  border-radius: 12px;
  object-position: bottom;
  @media (min-width: 602px) and (max-width: 768px) {
    border-radius: 24.5px;
  }
}

.magazine-card-fullsize__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  @media (max-width: 601px) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 8px;
  }
}
.magazine-card-fullsize__desc {
  margin-bottom: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
  @media (max-width: 601px) {
    font-size: 12px;
    margin-bottom: 18px;
    font-family: "RF Dewi", sans-serif;
  }
}
.magazine-card-fullsize__button-about {
  @media (max-width: 601px) {
    padding: 9px 17px 11px;
  }
}
