.page-heading {
  margin-bottom: 40px;
}
.page-heading__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
.page-heading__desc {
  font-weight: 400;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #A1AEB3;
max-width: 809px;
margin-left: auto;
margin-right: auto;
display: block;
}
