.product-hero {
  background-color: var(--bg-element);
  border-radius: var(--brad-regular);
  padding-top: 1rem;
  margin-top: 2.5rem;//40px;
  padding-bottom: 4.0rem;//64px;
  @media (max-width: 768px) {
    margin-top: 0;
  }
  @media (max-width: 601px) {
    position: relative;
    z-index: 5;
    padding-bottom: 40px;
    margin-top: -14px;
  }
}
.product-hero__top {
  padding-left: 1rem;
  padding-right: 1rem;
}
.product-hero__top ~ .product-hero__main .product-hero__info{
  padding-top: 0;
}
.product-hero-play {
  min-height: 2.75rem;//44px;
  min-width: 4.0625rem;//65px;
  @media (min-width: 602px) and (max-width: 768px) {
    min-height: 88px;
    min-width: 120px;
  }
  @media (min-width: 602px) {
    padding-left: 1.1875rem;//19px;
    padding-right: 1.125rem;//18px;
    padding-top: 0.625rem;//10px;
    padding-bottom: 0.625rem;//10px;
  }
}
.product-hero__pop-slides {
  display: none;
}
.product-hero-play .button__icon {
  width: 0.76rem;//12px;
  @media (min-width: 601px) and (max-width: 768px) {
    width: 36px;
    height: 36px;
  }
  @media (max-width: 601px) {
    margin: 0;
    display: block;
    width: 18px;
    height: 18px;
    max-width: initial;
  }
}
.product-hero-play .button__text {
  margin-bottom: 1px;
  @media (max-width: 768px) {
    display: none
  }
}

.product-hero__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  @media (max-width: 1024px) {
    display: block;
  }
}

.product-hero__media {
  @media (max-width: 601px) {
    margin-bottom: 44px;
  }
}
.product-hero__media-pic {
  height: 33.33333333333333vw;//480px;
  display: block;
  @media (min-width: 602px) and (max-width: 768px) {
    height: 735px
  }

  @media (max-width: 601px) {
    height: 360px
  }
  @media (max-width: 420px) {
    height: 265px;
  }
}



.product-hero__info {
  max-width: 40.69444444444444vw;//586px;
  min-width: 280px;
  @media (min-width: 789px) {
    padding-top: 34px
  }
  @media (max-width: 1279px) and (min-width: 769px) {
    max-width: 417px;
  }
  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
  }
  @media (max-width: 870px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.product-hero__badges {
  margin-bottom: 0.875rem;//14px;
  margin-top: -0.5625rem;//9px;
  @media (max-width: 1279px) and (min-width: 769px) {
    margin-bottom: 10px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    margin-bottom: 47px;
  }
  @media (max-width: 768px) {
    margin-top: 0;
  }
  @media (max-width: 601px) {
    margin-bottom: 23px
  }
}
.product-hero__badge {
  margin-right: 0.2857142857142857em;//4px;
  padding-top: 0.5em;
  padding-bottom: 0.5714285714285714em;
  padding-left: 1.2857142857142858em;
  padding-right: 1.2857142857142858em;
  font-weight: 700;
  font-size: 0.875rem;
  @media (max-width: 1279px) and (min-width: 769px) {
    font-size: 9.69px;
    padding: 3px 12px 6px;
    margin-right: 5.36px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    padding: 8px 32px 17px;
    font-size: 28.6px;
    margin-right: 16px;
  }
  @media (max-width: 601px) {
    padding: 4px 16px 8px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.product-hero__name {
  margin-bottom: 1.125rem;
  padding-left: 0;
  font-size: 1.6875rem;
  @media (max-width: 1279px) and (min-width: 769px) {
    font-size: 19.2px;
    margin-bottom: 5px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    font-size: 41px;
    margin-bottom: 16px;
  }
  @media (max-width: 601px) {
    line-height: 1.25;
    margin-bottom: 5px;
  }
}
.product-hero__sku {
  font-family: 'RF Dewi', sans-serif;
  font-size: 0.76rem;
  line-height: 1.16;
  color: #A1AEB3;
  margin-bottom: 2.125rem;//34px;
  @media (max-width: 1279px) and (min-width: 769px) {
    font-size: 8.5px;
    margin-bottom: 24px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    font-size: 24.5px;
    margin-bottom: 47px;
  }
  @media (max-width: 601px) {
    margin-bottom: 23px
  }
}
.product-hero__options {
  --chips-fz: 0.76rem;
  --chips-lh: 1.3;
  --chips-padding: 0.6666666666666666em 0.9166666666666666em 0.75em;//8px 11px 9px;
  --chips-bg: #F0F3F5;
  --chips-item-mb: 9px;
  margin-bottom: 3.125rem;//50px;
  @media (max-width: 1279px) and (min-width: 769px) {
    --chips-fz: 8.53px;
    --chips-padding: 5.69px;
    margin-bottom: 40px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    --chips-fz: 24.5px;
    --chips-padding: 16.38px;
    margin-bottom: 47px;
  }

  @media (max-width: 601px) {
    margin-bottom: 16px;
  }
}
.product-hero__options .chips__caption {
  border-radius: 8px;
}

.product-hero__order {
  font-size: 1.25rem;
  line-height: 120%;
  @media (max-width: 768px) {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-element);
    padding: 15px 16px 15px 48px;
    box-shadow: 0px 0px 20px rgba(95, 108, 117, 0.2);
  }
  @media (max-width: 601px) {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 8px;
  }
}
.product-hero__bullets {
  margin-bottom: 3.0rem;//48px;
  @media (max-width: 1279px) and (min-width: 769px) {
    margin-bottom: 35px;
  }
  @media (max-width: 768px) {
    margin-bottom: 0
  }
}
.product-hero__bullet {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.875rem;
  line-height: 140%;
  margin-bottom: 0.8125rem;//13px;
  color: #A1AEB3;
  @media (max-width: 1279px) and (min-width: 769px) {
    font-size: 10px;
    margin-bottom: 6.4px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    font-size: 28.6px;
    margin-bottom: 12px;
  }
  @media (max-width: 601px) {
    margin-bottom: 9px
  }
}
.product-hero__bullet:last-child {
  margin-bottom: 0;
}
.product-hero__bullet-icon {
  --size: 1.0625rem;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  margin-right: 0.5rem;
  margin-top: 0.125rem;//2px;
  @media (max-width: 768px) and (min-width: 602px){
    --size: 32px;
    margin-right: 16px;
    margin-top: 4px;
  }
}
.prodct-bullets-card__desc {
  @media (max-width: 601px) {
    line-height: 19px;
    max-width: 199px;
  }
}


.product-hero__desc {
  font-size: 0.875rem;
  line-height: 140%;
  color: #000000;
  margin-bottom: 3.125rem;//50px;
  @media (max-width: 1279px) and (min-width: 769px) {
    font-size: 10px;
    margin-bottom: 36px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    font-size: 28.6px;
    margin-bottom: 47px;
  }
 
  @media (max-width: 601px) {
    margin-bottom: 23px;
    line-height: 1.3;
  }
}
.product-hero__desc p,
.product-hero__desc a {
  line-height: inherit;
  font-size: inherit;
}



.product-hero__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1279px) and (min-width: 769px) {
    font-size: 14.2px;
  }
  @media (max-width: 768px) and (min-width: 602px) {
    font-size: 32px;
  }
  @media (max-width: 601px) {
    font-size: 16px;
  }
}
.product-hero__order-buy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 50%;
  @media (min-width: 602px) and (max-width: 768px) {
    min-width: 65%;
  }
}
.product-hero__stepper {
  --stepper-value-color: #000;
  --stepper-button-height: 100%;
  margin-right: 0.5rem;
  border-color: #F0F3F5;
  height: 2.45rem;//2.625rem;//42px;
  display: none;
}
.product-hero__order--in-cart .product-hero__stepper {
  display: flex;
}
.product-hero__order-buy-button {
  position: relative;
  padding-left: 0.7142857142857143em; //10
  padding-right: 0.7142857142857143em;//10px;
  padding-top: 0.6875em;//11px;
  padding-bottom: 0.9285714285714286em;//13
  width: 100%;
  max-width: 16.666666666666664vw;//240px;
  --fz-button: 0.875rem; //14
  // @media (min-width: 1800px) {
  //   max-width: 320px;
  //   --fz-button: 18.6px;
  //   // padding-top: 14px;
  //   // padding-bottom: 14px;
  // }
  // @media (max-width: 1280px) and (min-width: 1025px) {
  //   max-width: 240px;
  //   --fz-button: 12.4px;
  //   padding-top: 9px;
  //   padding-bottom: 11px;
  // }
  // @media (max-width: 1024px) and (min-width: 769px) {
  //   max-width: 170px;
  //   --fz-button: 10px;
  //   padding-top: 7px;
  //   padding-bottom: 9px;
  // }
  @media (max-width: 768px) and (min-width: 602px) {
    max-width: 408px;
  //   --fz-button: 28.6px;
  //   padding-top: 21px;
  //   padding-bottom: 25px;
  }
  @media (max-width: 601px) {
    max-width: 200px;
    // --fz-button: 14px;
    // padding-top: 11px;
    // padding-bottom: 13px;
  }
}
.product-hero__order-buy-button .button__icon {
  position: relative;
}
.product-hero__order-buy-button .button__icon--cart,
.product-hero__order-buy-button .button__icon--selected {
  transition: opacity 0.2s ease, transform 0.3s ease;
}
.product-hero__order--in-cart .product-hero__order-buy-button {
  --button-bg: var(--c-accent);
  --button-color: var(--c-text-on);
}
.product-hero__order--in-cart .button__icon--cart {
  transform: translateY(-50px);
  opacity: 0;
}
.product-hero__order--in-cart .button__icon--selected {
  transform: translateY(0) scale(2.5);
  opacity: 1;
}

.product-hero__order-buy-button .button__text{
  width: auto;
}
.product-hero__order--in-cart  .product-hero__order-buy-button {
  padding-left: 20px;
  padding-right: 20px;
}

.product-hero__order--out .product-hero__order-buy-button {
  --button-bg: #F0F3F5;
  --button-color: #A1AEB3;
  pointer-events: none;
}
.product-hero__order--out .product-hero__order-buy-button .button__icon {
  --icon-color: var(--button-color);
}

.product-hero__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 768px) {
    align-items: flex-end;
    flex-direction: column;
  }
}
.product-hero__price-old {
  margin-right: 8px;
  color: #a1aeb3;
  text-decoration-line: line-through;
  @media (max-width: 768px) {
    margin-right: 0
  }
}


.product-hero-carousel {
  // max-width: 600px;
  width: 100%;
  position: relative;
  @media (min-width: 1025px) {
    max-width: #{'calc(1vw * 47)'};
  }
  @media (max-width: 1024px) {
    max-width: 900px;
  }
}
.product-hero-thumbs {
  position: absolute;
  left: 31px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 90px;
  @media (max-width: 768px) {
    display: none;
  }
}
.product-hero-thumbs .swiper-slide {
  width: 100%;
  height: 90px;
  padding: 6px;
}
.product-hero-thumbs .product-hero__media-pic {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.product-hero-thumbs .swiper-slide-active {
  padding: 5px;
  border: 1px solid #d3dcdf;
  border-radius: 6px;
}

.product-hero-gallery-pagination {
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: flex-start;
  max-width: #{'calc(100% - 40px)'};
  width: 100%;
  transition: all 0.3s ease;
  left: 20px;
  bottom: 20px;
  display: none;
  @media (max-width: 768px) {
    display: flex;
    position: static;
    padding-top: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (max-width: 601px) {
    bottom: 5px
  }
}
.product-hero-gallery-pagination .swiper-pagination-bullet {
  display: block;
  max-width: 36px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 8px;
  cursor: pointer;
}
.product-hero-gallery-pagination .swiper-pagination-bullet::before {
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background: #eceff1;
  border-radius: 100px;
}
.product-hero-gallery-pagination .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}
.product-hero-gallery-pagination 
  .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background: #000000;
}


.product-hero-gallery-prev,
.product-hero-gallery-next {
  @media (min-width: 787px) {
    display: none
  }
}

.product-hero--has-carousel {
  padding-top: 0;
  padding-bottom: 0;
}
.product-hero--has-carousel .product-hero__info {
  margin-top: 1rem; //16
  margin-bottom: 4.0rem;//64px;
  @media (max-width: 768px) {
    margin-bottom: 0;//64px;
    padding-bottom: 2.5rem;//64px;
  }
}
.product-hero--has-carousel .product-hero-thumbs .product-hero__media-pic {
  background-color: #fff;
}
.product-hero--has-carousel .product-hero-gallery .product-hero__media-pic {
  height: #{'calc(var(--index) * 43)'};
  // @media (min-width: 769px) {
  //   height: 620px;
  // }
  // @media (min-width: 1800px) {
  //   height: 730px;
  // }
  @media (max-width: 1280px) {
    height: 560px;
  }
  @media (max-width: 601px) {
    height: 355px
  }
}
.product-hero--has-carousel .product-hero-gallery .product-hero__media-img  {
  border-radius: 12px 0 0 12px;
  @media (min-width: 602px) and (max-width: 768px) {
    border-radius: 25px 25px 0 0;
  }
  @media (max-width: 601px) {
    border-radius: 12px 12px 0 0;
  }
}
.product-hero--has-carousel .product-hero__main {
  column-gap: 65px;
}
.product-hero__media-pic--cover  .product-hero__media-img {
  // @media (min-width: 1025px) {
    object-fit: cover;
  // }
}
