.product-bullets {
  margin-left: -8px;
  width: calc(100% + 16px);
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #A1AEB2;
  margin-bottom: 40px;
  @media (max-width: 1280px) {
    border-bottom: none;
    margin-bottom: 0;
  }
  @media (max-width: 601px) {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 0;
  }
}
.product-bullets__list {
  display: grid;
  grid-template-columns: repeat(4, 255px);
  justify-content: space-between;
  @media (max-width: 1280px) {
    grid-template-columns: repeat(auto-fill, minmax(255px, 300px));
    column-gap: 40px;
    row-gap: 20px;
    justify-content: center
  }
  @media (max-width: 601px) {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
.product-bullets-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product-bullets-card__img {
  margin-right: 15px;
  width: 40px;
}

.prodct-bullets-card__desc {
  font-size: 14px;
  line-height: 140%;
  color: #A1AEB3;
}
