.product-cases {
  background-color: var(--bg-element);
  border-radius: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 90px;
}
.product-cases__container {
  max-width: 1388px;
  margin-left: auto;
  margin-right: auto;
}

.product-cases-carousel {
  padding-left: 94px;
  padding-right: 94px;
}
.product-cases-carousel-slide__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  text-align: center;
  color: #000000;
  margin-bottom: 46px;
}

.product-cases-carousel__button-prev {
  left: 0;
}
.product-cases-carousel__button-next {
  right: 0;
}

.product-cases-carousel__button-prev,
.product-cases-carousel__button-next {
  width: 60px;
  height: 40px;
  background-color: #F0F3F5;
}
.product-cases-carousel__button-prev::after,
.product-cases-carousel__button-next::after {
  color: transparent;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  @include getmask("../img/common/arrow-right-long.svg");
  background-color: #000;
}
.product-cases-carousel__button-prev:hover,
.product-cases-carousel__button-next:hover {
  @media (any-hover:hover) {
    background-color: #000;
  }
}
.product-cases-carousel__button-prev:hover::after,
.product-cases-carousel__button-next:hover::after {
  @media (any-hover:hover) {
    background-color: #fff;
  }
}
.product-cases-carousel__button-prev::after {
  transform: scaleX(-1);
}
