.related-products {
  padding-top: 30px;
  padding-bottom: 30px;
}
.related-products .gallery-accordion__container {
  max-width: 100%;
}
.related-products .gallery-accordion__content {
  margin-bottom: 0;
}
.related-products .gallery-accordion__content ~ .container .button{
  margin-top: 23px;
}
.related-products__title {
  margin-bottom: 50px;
}
.related-products__gallery {
  width: 100%;
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  column-gap: 8px;
  row-gap: 8px;
}

.related-products__gallery ~ .container {
  padding-top: 40px;
}
