.shops {
  border-radius: 8px;
  background-color: var(--bg-element);
  padding-top: 65px;
  padding-bottom: 57px;
  @media (max-width: 601px) {
    padding-top: 52px;
    padding-bottom: 42px;
  }
}
.shops__container {
  overflow: hidden;
}

.shops__title {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.shops__container .section-heading {
  @media (max-width: 1024px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.shops__button-all {
  @media (max-width: 576px) {
    display: none;
  }
}
