.testimonials {
  padding-top: 27px;
  padding-bottom: 40px;
  @media (min-width: 602px) and (max-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media (max-width: 601px) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
.testimonials__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-bottom: 42px;
  @media (max-width: 810px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 36px;
  }
  @media (max-width: 601px) {
    margin-bottom: 18px;
  }
}
.testimonials-card {
  padding: 1.25rem;//20px;
  background-color: var(--bg-element);
  border-radius: var(--brad-regular);
  @media (min-width: 602px) and (max-width: 768px) {
    padding: 16px;
    padding-bottom: 36px;
    border-radius: 25px;
  }
  @media (max-width: 601px) {
    padding: 8px;
    padding-bottom: 18px;
  }
}

.testimonials-card__review {
  margin-bottom: 2.1875rem;//35px;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 56px;   
  }
  @media (max-width: 601px) {
    margin-bottom: 28px;
  }
}
.testimonials-card__bundle {
  height: 10.0rem;//160px;
  margin-bottom: 48px;
  @media (min-width: 602px) and (max-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 78px;
    height: 240px;
  }
  @media (max-width: 601px) {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 18px;
    margin-bottom: 39px;
    height: 140px 
  }
}
.testimonials-card__img {
  display: block;
}

.testimonials-card__buttons {
  @media (min-width: 602px) and (max-width: 768px) {
    padding-left: 24px;
  }
  @media (max-width: 601px) {
    padding-left: 12px;
  }
}
.testimonials-card__add-to-cart {
  margin-right: 8px;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 24px;
    padding: 20px 20px 25px;
  }
  @media (max-width: 420px) {
    font-size: 12px;
    padding: 7px 13px 9px;
  }
  @media (max-width: 320px) {
    margin-bottom: 8px;
  }
}
.testimonials-card__more {
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 24px;
    padding: 20px 20px 25px;
  }
  @media (max-width: 420px) {
    font-size: 12px;
    padding: 7px 13px 9px;
  }
}

.testimonials__button-more {
  @media (min-width: 602px) and (max-width: 768px) {
    --fz-button: 28px;
  }
  @media (max-width: 601px) {
    --fz-button: 14px;
  }
}
