// Основной шаблон кнопки
.btn {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    padding: 0 50px;
    border-radius: 50px;
    transition: $tr;
    white-space: nowrap;
    user-select: none;

	@media (any-hover: hover) {

        &:hover {
            background: #000;
        }
    }
}

.link {
    transition: $tr;

    @media (any-hover: hover) {

        &:hover {
            color: $accent;
        }
    }

    &:active {
        color: brig-color($accent, active);
    }
}