.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: $tr;

    &.is-show {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;

        & .modal__wrap {
            transform: translate(0, 0);
        }
    }
}

.modal__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__wrap {
    min-height: 100%;
    transform: translate(0, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
    transition: $tr;
}

.modal__window {
    position: relative;
    max-width: 615px;
    width: 100%;
    background: #fff;
    padding: 24px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    transition: $tr;

    @media (any-hover: hover) {
        
        &:hover {
            transform: scale(1.1);
        }
    }

    &:active {

        @media (any-hover: hover) {
            transform: scale(1);
        }

        transform: scale(.9);
    }
}