.select {
    position: relative;
    width: 100%;
    height: 100%;

    &.is-open {

        & .select-input__chevron {
            transform: translate(0, -50%) scale(-1, -1);
        }

        & .select-dropdown{
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &.is-valid {

        & .select-input__title {
            color: $text-primary;
        }
    }
    
    &_s {

        & .select-input {
            height: 36px;
        }
    }
}

.select-input {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid $border-line;
    border-radius: 8px;
    padding: 0;
    cursor: pointer;
}

.select-input__icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
}

.select-input__title {
    color: $input-placeholder;
    pointer-events: none;
    padding: 0 16px;

    @media (max-width: $mobile-l) {
        font-size: 16px;
    }
}

.select-input__chevron {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    display: block;
    width: 24px;
    height: 24px;
    pointer-events: none;
    transition: $tr;
}

.select-dropdown {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $tr;
}

.select-dropdown__list {
    max-height: 210px;
    padding: 12px 0;
    overflow-y: auto;

    @include scrollbar(6px)
}

.select-dropdown__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: inherit;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition: $tr;

    &.is-selected {

        &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z' fill='%236C6C6C'/%3E%3C/svg%3E") no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: 0;
        visibility: hidden;
        transition: $tr;
    }

    &:hover {
        
        @media (any-hover: hover) {
            background: brig-color(#000, .05);
        }
    }

    &:active {
        background: brig-color(#000, .08);
    }
}