.section-title {
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-family: "RF Dewi Extended";
  font-size: 1.6875rem;//27px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  // @media (min-width: 1800px) {
  //   font-size: 36px;
  // }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 40px;
    margin-bottom: 36px;
  }
  color: #000000;
  @media (max-width: 601px) {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
.section-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #a1aeb3;
  @media (min-width: 1800px) {
    font-size: 18px;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 24px;
  }
}

.section-text--center {
  text-align: center;
}
.section-text--right {
  text-align: right;
}

.captions {
  margin-bottom: 30px;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: 601px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.captions--mobile-fold {
  @media (min-width: 602px) and (max-width: 768px) {
    max-height: 114px;
    
  }
  @media (max-width: 768px) {
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    max-width: 100%;
    width: 100%;  
  }
  @media (max-width: 601px) {
    max-height: 57px;
  }
}
.captions .callback-cards {
  @media (min-width: 602px) {
    padding-top: 74px;
  }
}
.captions--fold-opened {
  max-height: 2000px;
}
.captions__button-opener {
  position: absolute; 
  right:  10px;
  bottom: 0; 
  background-color: var(--bg-app);
  font-size:  12px;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size:  24px;
  }
  @media (min-width: 769px) {
    display: none;  
  }
}
.captions__button-opener::before {
  content: "...";
  background-color: var(--bg-app);
  padding-right: 6px; 
  color: #c8d2d5;
  position: absolute; 
  top: 1px;
  left: -14px;  
  @media (min-width: 602px) and (max-width: 768px) {
    left: -23px;  
  }
}
.captions-1-1 {
  column-count: 2;
  column-gap: 8px;
  @media (max-width: 768px) {
    column-count: unset;
  }
}
.captions-1-1__desc {
  font-family: "RF Dewi", sans-serif;
  font-size: 0.875rem;//14px;
  font-weight: 400;
  line-height: 1.214;
  color: #a1aeb3;
  opacity: 0.6;
  max-width: 93%;
  break-inside: avoid;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-bottom: 28px;
    font-size: 24px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
    line-height: 1.2;
  }
  @media (max-width: 601px) {
    margin-bottom: 14px;
    font-size: 12px;
  }
}
.captions-1-1__desc:last-child {
  @media (max-width: 601px) {
    margin-bottom: 0;
  }
}
.captions-1-1__desc--big {
  font-size: 1.25rem;//20px;
  line-height: 120%;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 36px;
    margin-bottom: 36px;
  }
  @media (max-width: 601px) {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
