/*
* Пример использования компонента кнопки
* <button class="button button--primary">Акцентная кнопка</button>
* <button class="button button--secondary btn--icon">Кнопка с иконкой вторичного цвета</button>
* <button class="button button--primary button--icon btn--icon-arrow btn--icon-left">Кнопка с иконкой с левой стороны акцентного цвета</button>
*/
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // padding: 23px 46px 26px 46px;
  padding: 11px 22px 14px 22px;
  // padding: 11px 17px 14px 17px;
  font-size: var(--fz-button);
  font-weight: var(--fw-button);
  line-height: var(--lh-button);
  color: var(--button-color);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--button-bg, transparent);
  border-radius: 100px;
  transition: all 0.3s ease;
  @media (min-width: 602px) and (max-width: 768px) {
    --fz-button: 29px;
    padding: 20px 20px 25px;
  }
  @media (max-width: 601px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.button:active {
  @media (min-width: $minHover) {
    opacity: 0.6;
  }
}

.button--primary {
  --icon-color: #000;
  --button-color: #000;
  --button-bg: #f0f3f5;
  font-weight: 500;
}
.button--dark {
  --button-bg: #000;
  --button-color: var(--c-text-on);
  --icon-color: var(--button-color);
}

// .button--primary[disabled] {
//   --button-color: var(--c-blind);
// }

.button--on.button--primary {
  --button-color: var(--c-text-on);
  color: var(--c-accent);
}

.button--on.button--primary:hover {
  @media (min-width: $minHover) {
    --button-color: var(--c-accent--light);
  }
}

// .button--on.button--primary[disabled],
// .button--on.button--primary[disabled]:hover {
//   --button-color: var(--c-blind);
//   color: var(--c-text-disabled);
//   opacity: 1;
//   @media (prefers-color-scheme: dark) {
//     color: #106332;
//     --button-color: var(--c-accent--dark);
//   }
// }

.button--secondary {
  --button-color: var(--c-button-secondary);
  color: var(--button-color);
}

.button--secondary:hover {
  @media (min-width: $minHover) {
    color: var(--c-text-on);
    background-color: var(--button-color);
  }
}

// .button--secondary[disabled],
// .button--secondary[disabled]:hover {
//   background-color: transparent;
//   border-color: var(--c-text-disabled);
// }

.button--on.button--secondary {
  --button-color: var(--c-text-on);
}

.button--on.button--secondary:hover {
  @media (min-width: $minHover) {
    color: var(--c-accent);
  }
}

.button__text {
  width: 100%;
  font-size: inherit;
}

.button__icon {
  display: block;
  width: var(--button-icon-size, 12px);
  min-width: var(--button-icon-size, 12px);
  max-width: var(--button-icon-size, 12px);
  height: 12px;
  // height: var(--button-icon-size);
  background-color: transparent;
  fill: var(--icon-color);
  stroke: none;
  transition: all var(--tr) ease;
  @media (max-width: 768px) and (min-width: 602px) {
    width: var(--button-icon-size, 26px);
    min-width: var(--button-icon-size, 26px);
    max-width: var(--button-icon-size, 26px);
    height: 26px;
  }
}
.button--icon-stroke .button__icon {
  fill: transparent;
  stroke: var(--icon-color);
}
.button__icon ~ .button__text {
  margin-left: 8px;
  @media (min-width: 602px) and (max-width: 768px) {
    margin-left: 16px;
  }
}
.button__icon--selected {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(40px);
  opacity: 0;
}

.button--icon-left .button__icon {
  order: -1;
  margin-right: 0.57em;
}

.button--icon-right .button__icon {
  order: 5;
  margin-left: 0.57em;
}

.button__icon path {
  stroke: var(--button-color);
}

.button--icon-plus .button__icon {
  @include getmask("../img/icons/plus.svg");
}
.button--icon-plus:hover .button__icon {
  @media (min-width: $minHover) {
    transform: rotate(180deg);
  }
}

.button--icon-plus:hover {
  @media (min-width: $minHover) {
    --icon-color: var(--c-accent);
    --button-color: var(--c-accent);
  }
}

.button-cart__counter {
  position: absolute;
  top: 40px; 
  opacity: 0; 
  left: 0;
  right: 0;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s ease, transform 0.3s ease, opacity 0.2s ease;
  padding-bottom: 2px;
}
.button-cart--not-empty.header__button--active .button-cart__counter {
  top: 0;
  opacity: 1;
}
.button-cart--not-empty.header__button--active .button__icon {
  transform: translateY(-40px);
  opacity: 0;
}
.button--circle {
  border-radius: 50%;
}

.button--fullsize {
  display: block;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 22px;
  margin-right: auto;
  margin-left: auto;
}
.button--light {
  --button-bg: var(--bg-element);
}

.button--primary:hover {
  @media (any-hover: hover) {
    --button-bg: #6c7982;
    --button-color: #fff;
    --icon-color: #fff;
  }
}

.button--thirdly {
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  // text-decoration-line: underline;
  --button-color: #5F6C75;
  --button-bg: transparent;
  border-bottom: 1px solid var(--button-color);
  border-radius: 0;
  color: var(--button-color);
}
.button--fw-bold {
  font-weight: 600;
}

.button--disabled {
  --button-bg: var(--bg-app);
  --button-color: var(--c-accent);
}