/*
* Пример использования компонента кнопки
* <button class="btn btn_primary">Акцентная кнопка</button>
* <button class="btn btn_second btn_icon">Кнопка с иконкой вторичного цвета</button>
* <button class="btn btn_primary btn_icon btn_icon-arrow btn_icon-left">Кнопка с иконкой с левой стороны акцентного цвета</button>
*/

// Переменные цветов кнопок
:root {
    // Акцентная кнопка
    --btn-primary-default: #467ef3;
    --btn-primary-pressed: #3865c2;
    --btn-primary-disabled: #b5cbfa;

    // -Вторичная кнопка
    --btn-second-default: #d1dffc;
    --btn-second-pressed: #bdc9e3;
    --btn-second-disabled: #99b8f8;
}

$btn-primary-default: var(--btn-primary-default);
$btn-primary-pressed: var(--btn-primary-pressed);
$btn-primary-disabled: var(--btn-primary-disabled);

$btn-second-default: var(--btn-second-default);
$btn-second-pressed: var(--btn-second-pressed);
$btn-second-disabled: var(--btn-second-disabled);

// Основной шаблон кнопки
.btn {
    width: 100%;
    height: 48px;
    padding: 9px;
    font-size: 14px;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    border-radius: $radius;
    transition: $tr;
}

// Акцентная кнопка
.btn_primary {
    color: #fff;
    background: $btn-primary-default;

    &:hover {
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-primary-pressed;
    }
}

// Второстепенная кнопка
.btn_second {
    color: #467ef3;
    background: $btn-second-default;

    &:hover {
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-second-pressed;
    }
}

// Кнопка без заполнения и обводки
.btn_linear {
    padding: 5px;

    &:hover {
        @media (min-width: $minHover) {
            color: $btn-primary-pressed;
        }
    }

    &:active {
        color: $btn-primary-pressed;
    }
}

// Кнопка с иконкой. Иконка размещается в html после или перед текстом кнопки
$margin-icon: 12px; // Отступ иконки от текста

.btn_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    & svg {
        width: 24px;
        height: 24px;
        margin-left: $margin-icon;
    }
}

// Иконка будет слева. Использовать совместно с btn_icon
.btn_icon-left {
    & svg {
        margin-right: $margin-icon;
        margin-left: 0;
    }
}

// Содержимое иконки будет размещаться по центру. Использовать только c btn_icon
.btn_center {
    justify-content: center;
}

// Hover-эффект у ссылки
// .link {
//     &:hover {
//         @media (min-width: $minHover) {
//             color: $accent-hover;
//         }
//     }

//     &:active {
//         color: $accent-active;
//     }
// }

// Кнопки выбора
.choice-chips {
    width: fit-content;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: var(--fw-bold);
    color: $main;
    background: #f8f8f8;
    border-radius: 100px;

    &:hover {
        @media (min-width: $minHover) {
            color: $accent;
            background: #eff7f5;
        }
    }

    &:active {
        color: #fff;
        background: $accent;
    }

    &._active {
        color: #fff;
        background: $accent;
    }
}

.choice-chips_disabled {
    color: $second;
    pointer-events: none;
    background: #f8f8f8;
}

// Стрелка в слайдерах
.slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: $accent;
    border-radius: 50%;

    &:hover {
        @media (min-width: $minHover) {
            background: $accent-hover;
        }
    }

    &:active {
        background: $accent-active;
    }

    &.swiper-button-disabled {
        background: #f8f8f8;
        // pointer-events: none;

        & svg path {
            fill: $second;
        }
    }

    & svg {
        width: 24px;
        height: 24px;
    }
}

.button {
    --button-icon-size: 1.14em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.875em 2em;
    font-size: var(--fz-button);
    font-weight: var(--fw-bold);
    line-height: var(--lh-button);
}
.button--small {
    min-width: 112px;
    padding: 0.865em 1.33em;
    font-size: var(--fz-button--small);
    line-height: var(--lh-button--small);
}
.button[disabled] {
    --button-color: var(--c-blind);
    color: var(--c-text-disabled);
    cursor: default;
}
.button:active {
    @media (min-width: $minHover) {
        opacity: 0.6;
    }
}

.button--primary {
    --button-color: var(--c-accent);
    color: var(--c-text-on);
    background-color: var(--button-color);
    border-radius: 5px;
}
.button--primary:hover {
    @media (min-width: $minHover) {
        --button-color: var(--c-accent--dark);
    }
}
.button--primary[disabled] {
    --button-color: var(--c-blind);
}
.button--on.button--primary {
    --button-color: var(--c-text-on);
    color: var(--c-accent);
}
.button--on.button--primary:hover {
    @media (min-width: $minHover) {
        --button-color: var(--c-accent--light);
    }
}
.button--on.button--primary[disabled],
.button--on.button--primary[disabled]:hover {
    --button-color: var(--c-blind);
    color: var(--c-text-disabled);
    opacity: 1;
    @media (prefers-color-scheme: dark) {
        color: #106332;
        --button-color: var(--c-accent--dark);
    }
}

.button--secondary {
    --button-color: var(--c-accent);
    color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 5px;
}
.button--secondary:hover {
    @media (min-width: $minHover) {
        color: var(--c-text-on);
        background-color: var(--button-color);
    }
}

.button--secondary[disabled],
.button--secondary[disabled]:hover {
    background-color: transparent;
    border-color: var(--c-text-disabled);
}

.button--on.button--secondary {
    --button-color: var(--c-text-on);
}
.button--on.button--secondary:hover {
    @media (min-width: $minHover) {
        color: var(--c-accent);
    }
}

.button--on.button--secondary[disabled],
.button--on.button--secondary[disabled]:hover {
    --button-color: var(--c-blind);
    color: var(--button-color);
    background-color: transparent;
    border-color: var(--button-color);
    @media (prefers-color-scheme: dark) {
        --button-color: var(--c-text-disabled);
        opacity: 0.4;
    }
}

.button--thirdly {
    --button-color: var(--c-accent);
    --icon-color: var(--button-color);
    padding: 0;
    color: var(--button-color);
}
.button--thirdly:hover {
    @media (min-width: $minHover) {
        --button-color: var(--c-accent--dark);
        --icon-color: var(--button-color);
    }
}
.button--on.button--thirdly {
    --button-color: var(--c-text-on);
    // --icon-color: var(--c-text-on);
    @media (prefers-color-scheme: dark) {
        --button-color: var(--bg-element);
    }
}
.button--on.button--thirdly:hover {
    @media (min-width: $minHover) {
        --button-color: var(--c-accent--light);
    }
}

.button--on.button--thirdly[disabled],
.button--on.button--thirdly[disabled]:hover {
    @media (prefers-color-scheme: dark) {
        --button-color: #1a743f;
        color: var(--button-color);
    }
}

.button__text {
    width: 100%;
    font-size: inherit;
}

.button__icon {
    display: block;
    width: var(--button-icon-size);
    min-width: var(--button-icon-size);
    max-width: var(--button-icon-size);
    height: var(--button-icon-size);
    background-color: var(--icon-color);
    fill: transparent;
    stroke: var(--icon-color);
    transition: all var(--tr) ease;
}
.button--icon-fill .button__icon {
    fill: var(--icon-color);
    stroke: none;
}
.button--icon-hover-rotate:hover .button__icon {
    @media (min-width: $minHover) {
        transform: rotate(-45deg);
        transform-origin: center;
    }
}
.button--icon-left .button__icon {
    order: -1;
    margin-right: 0.57em;
}
.button--icon-right .button__icon {
    order: 5;
    margin-left: 0.57em;
}

.button__icon path {
    stroke: var(--button-color);
}

.button--icon-plus .button__icon {
    @include getmask("../img/icons/plus.svg");
}
.button--icon-plus:hover .button__icon {
    @media (min-width: $minHover) {
        transform: rotate(180deg);
    }
}
.button--icon-plus:hover {
    @media (min-width: $minHover) {
        --icon-color: var(--c-accent);
        --button-color: var(--c-accent);
    }
}
.button--icon-arrow-right .button__icon {
    @include getmask("../img/icons/arrow-right.svg");
}
.button--icon-arrow-left .button__icon {
    @include getmask("../img/icons/arrow-left.svg");
}
.button--icon-link .button__icon {
    @include getmask("../img/icons/link.svg");
}

/*

    @link

*/

/* stylelint-disable */
.link {
    --icon-color: var(--c-accent);
    color: var(--c-accent);
    transition: all var(--t) ease-in-out;
    padding: 0;
    justify-content: flex-start;
}
.link .button__text {
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    width: auto;
}
.link:hover .button__text {
    @media (min-width: $minHover) {
        // --icon-color: var(--c-accent--dark);
        border-bottom: 1px solid var(--icon-color);
    }
}
.link:active {
    opacity: 0.6;
}
/* stylelint-enable */
