.input {
  --border-color: #dfdfdf;
  --border-radius: 5px;
  --label-color: var(--c-text-grey-2);
  --text-color: var(--c-text-regular);
  position: relative;
  width: 100%;
  font-size: var(--fz-body--small);
  line-height: 1.45;
}
.input--active {
  --border-color: var(--c-text-grey-2);
}

.input__field {
  position: relative;
  z-index: 2;
  width: 100%;
  max-height: 50px;
  padding: 0.893em 1.33em;
  font-size: inherit;
  line-height: inherit;
  color: var(--text-color);
  background-color: var(--bg-element);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
}
.input__field::placeholder {
  color: var(--text-color);
}

.input--dropdown.input--active .input__field {
  border-color: var(--c-blind);
}
.input--selected-dropdown.input--active .input__field,
.input--active-dropdown.input--active .input__field {
  border-color: var(--c-text-grey-2);
}

.input--dropdown .input__label {
  opacity: 0;
}
.input--selected-dropdown .input__label {
  opacity: 1;
}

.input__label {
  position: absolute;
  top: 16px;
  left: 12px;
  z-index: 3;
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  color: var(--label-color);
  pointer-events: none;
  background-color: var(--bg-element);
  transition: all 0.3s ease;
}

.input--active .input__label {
  // .input__field:focus + .input__label {
  // top: -0.6em;
  top: -9px;
  left: 12px;
  font-size: var(--fz-body--small-2);
  line-height: var(--lh-body--small-2);
}

.input--dropdown {
  margin-top: -2px;
}
.input--dropdown::after {
  position: absolute;
  top: 17px;
  right: 16px;
  z-index: 3;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  content: "";
  background-color: var(--c-accent);
  transition: all 0.3s ease;
  @include getmask("../img/icons/arrow-down.svg");
}

.input--active-dropdown.input--dropdown::after {
  transform: rotate(180deg);
}

.input-dropdown {
  position: absolute;
  width: 100%;
  max-height: 188px;
  margin-top: 8px;
  overflow: hidden;
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--bg-element);
  border: 1px solid var(--c-text-disabled);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
}
.input-dropdown li {
  width: 100%;
}
.input--active-dropdown .input-dropdown {
  position: absolute;
  top: 100%;
  z-index: 4;
  // position: relative;
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.input-dropdown__item {
  width: 100%;
  padding: 10px 16px;
  font-size: var(--fz-body--small);
  line-height: var(--lh-body--small);
  color: var(--c-text);
  text-align: left;
}
.input-dropdown__item:hover {
  @media (hover: hover) {
    cursor: pointer;
    background-color: var(--c-accent--light);
  }
}
.theme--dark .input-dropdown__item:hover {
  @media (hover: hover) {
    cursor: pointer;
    background: rgba(40, 190, 70, 0.1);
  }
}

.input--half {
  @media (min-width: 576px) {
    max-width: 48.3%;
  }
}

.input__error {
  z-index: 1;
  display: block;
  font-size: var(--fz-tag);
  line-height: var(--lh-tag);
  color: var(--c-text);
  transition: all 0.3s ease;
  transform: scale(1, 0);
  transform-origin: top;
  @media (min-width: 1101px) {
    padding-top: 2px;
  }
  @media (max-width: 576px) {
    padding-top: 2px;
  }
}

.input--invalid {
  --label-color: var(--c-error);
  @media (max-width: 575px) {
    margin-bottom: calc(var(--mb-input) - 2px);
  }
}
.input.input--invalid .input__field {
  border-color: var(--c-error);
}
.input--invalid .input__error {
  display: block;
  margin-top: 0;
  color: var(--c-error);
  transform: scale(1);
}
