.input {
  --border-color: transparent;
  --border-radius: 6px;
  --text-color: var(--c-text-regular);
  --fz: 12px;
  --lh: 1;
  --padding: 12px 20px 16px 20px;
  --label-color: var(--bg-element);
  --message-color: var(--c-text);
  --message-transform: scale(1, 0);
  --message-offset: -1.2em;
  --error-icon-transform: scale(0);
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--ff-regular);
  margin-bottom: 8px;
  @media (max-width: 768px) {
    --padding: 12px 20px 16px 20px;
    --fz: 12px;
    --lh: 14px;
  }
}
.input:last-of-type {
  margin-bottom: 0;
}
.input--active {
  // --border-color: var(--c-text-grey-2);
  --label-top: -9px;
  --lebel-left: 12px;
  --label-fz: calc(var(--label-fz) - 5);
}
.input--invalid {
  --label-color: var(--c-error);
  --message-transform: scale(1);
  --message-color: var(--c-error);
  --message-offset: 9px;
  // --border-color: var(--c-error);
  --error-icon-transform: scale(1);
}

.input__field {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: var(--padding);
  font-size: var(--fz);
  line-height: var(--lh);
  color: var(--text-color);
  // background-color: var(--bg-element);
  background-color: var(--input-bg, #F0F3F5);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  padding-top: 11px;
  padding-bottom: 16px;
}
.input__field::placeholder {
  color: rgba(0, 0, 0, 0.19);
}

.input__icon {
  position: absolute;
  top: 27px;
  left: 38px;
  z-index: 3;
  display: block;
  width: 18px;
  height: 18px;
  @media (max-width: 768px) {
    top: 18px;
    left: 24px;
    width: 14px;
    height: 14px;
  }
}
.input__error-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 2;
  transform: var(--error-icon-transform);
  transition: all 0.45s ease;
}

.input__label {
  position: absolute;
  top: var(--label-top);
  left: var(--label-left);
  z-index: 3;
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  color: var(--label-color);
  pointer-events: none;
  background-color: var(--bg-element);
  transition: all 0.3s ease;
}

.input__message {
  z-index: 1;
  min-height: 1.2em;
  margin-top: var(--message-offset);
  transition: all 0.3s ease;
  transform: var(--message-transform);
  transform-origin: top;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background: #A1AEB3;
  border-radius: 6px;
  padding: 5px 10px 8px;
  display: inline-block;
}


