.input {
  --border-color: transparent;
  --border-radius: var(--brad-half);
  --text-color: var(--c-text-regular);
  --fz: 0.76rem;
  --lh: 1;
  --padding: 1em 1.66em 1.33em;//12px 20px 16px 20px;
  --label-color: var(--bg-element);
  --message-color: var(--c-text);
  --message-transform: scale(1, 0);
  --message-offset: -1.2em;
  --error-icon-transform: scale(0);
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--ff-regular);
  margin-bottom: 0.66em;//8px;
  @media (min-width: 602px) and (max-width: 768px) {
    --fz: 24px;
    --padding: 24px 40px 32px 20px;
    --border-radius: 12px;
  }
  @media (max-width: 601px) {
    --padding: 12px 20px 16px 20px;
    --fz: 12px;
    --lh: 14px;
  }
}
.input:last-of-type {
  margin-bottom: 0;
}
.input--invalid {
  --label-color: var(--c-error);
  --message-transform: scale(1);
  --message-color: var(--c-error);
  --message-offset: 9px;
  // --border-color: var(--c-error);
  --error-icon-transform: scale(1);
}

.input__field {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: var(--padding);
  font-size: var(--fz);
  line-height: var(--lh);
  color: var(--text-color);
  // background-color: var(--bg-element);
  background-color: var(--input-bg, #F0F3F5);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  // padding-top: ;//11px;
  // padding-bottom: 16px;
}
.input__field::placeholder {
  color: rgba(0, 0, 0, 0.19);
}

.input__icon {
  position: absolute;
  top: 27px;
  left: 38px;
  z-index: 3;
  display: block;
  width: 18px;
  height: 18px;
  @media (max-width: 768px) {
    top: 18px;
    left: 24px;
    width: 14px;
    height: 14px;
  }
}
.input__error-icon {
  display: block;
  width: 1.25rem;//20px;
  height: 1.25rem;//20px;
  position: absolute;
  top: 0.6875rem;//11px;
  right: 0.6875rem;
  z-index: 2;
  transform: var(--error-icon-transform);
  transition: all 0.45s ease;
  @media (min-width: 602px) and (max-width: 768px) {
    width: 30px;
    height: 30px;
    top: 15px;
    right: 10px;
  }
}

.input__message {
  z-index: 1;
  min-height: 1.2em;
  margin-top: var(--message-offset);
  transition: all 0.3s ease;
  transform: var(--message-transform);
  transform-origin: top;
  font-weight: 400;
  font-size: 0.75rem;//12px;
  line-height: 1.1666666666666667;//14px;
  color: #FFFFFF;
  background: #A1AEB3;
  border-radius: var(--brad-regular);
  padding: 0.4166666666666667em 0.8333333333333334em 0.6666666666666666em;//5px 10px 8px;
  display: inline-block;
}


