.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  @media (max-width: 768px) {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.nav-page {
  padding: 7.5px 8px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin-right: 4px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) and (min-width: 601px) {
    font-size: 24px;
    margin-right: 10px;
    padding: 16px 15px;
  }
}
.nav-page:last-child {
  margin-right: 0;
}

.nav-arrow {
  position: relative;
  padding: 7.5px 8px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  color: #000000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 24px;
    padding: 15px 16px;
    border-radius: 16px;
  }
}
.nav-arrow.disabled {
  display: none;
}
.nav-prev {
  margin-right: 20px;
  @media (max-width: 768px) {
    margin-top: 16px;
    order: 100;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    margin-right: 40px;
    margin-top: 32px
  }
}
.nav-prev::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  @include getmask("../img/common/arrow-circle.svg");
  background-color: #000;
  margin-bottom: -2px;
  transform: rotate(-90deg);
  @media (min-width: 602px) and (max-width: 768px) {
    margin-right: 16px;
    width: 32px;
    height: 32px;
    margin-bottom: -4px;
  }
}
.nav-next {
  margin-left: 20px;
  @media (max-width: 768px) {
    margin-top: 16px;
    order: 101;
  }
  @media (min-width: 602px) and (max-width: 768px) {
    margin-top: 32px;
  }
}
.nav-next::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  @include getmask("../img/common/arrow-circle.svg");
  background-color: #000;
  margin-bottom: -2px;
  transform: rotate(90deg);
  @media (min-width: 602px) and (max-width: 768px) {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-bottom: -4px;
  }
}
