.selector {
  margin-bottom: 40px;
}
.selector__group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.selector-option {
  margin-right: 8px;
  cursor: pointer;
}
.selector-option__caption {
  --border-color: #a1aeb2;
  padding: 10px 20px 12px;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  transition: var(--tr);
}
.selector-option__caption:hover {
  @media (any-hover: hover) {
    color: #fff;
    background: #6c7982;
    --border-color: #6c7982;
  }
}
.selector-option__input {
  position: absolute;
  opacity: 0;
  appearance: none;
}
.selector-option__input:checked ~ .selector-option__caption {
  color: #fff;
  background: #a1aeb2;
  --border-color: #a1aeb2;
}
