.snacks {
  margin-bottom: 40px;
}
.snack__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.snack__item {
  margin-right: 8px;
  cursor: pointer;
}
.snack__caption {
  padding: 13px 20px 15px;
  background: #ffffff;
  border-radius: 6px;
  transition: var(--tr);
}
.snack__caption:hover {
  @media (any-hover: hover) {
    color: #fff;
    background: #6c7982;
  }
}
.snack__input:checked ~ .snack__caption {
  color: #fff;
  background: #5f6c75;
}
