.stepper {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  --bg: transparent;
  --line-color: #A1AEB3;
  border: 1px solid var(--line-color);
  border-radius: 100px;
  max-width: 87px;
  width: 100%;
  @media (min-width: 602px) and (max-width: 768px) {
    max-width: 174px;
  }
}
.stepper__button {
  background-color: var(--bg);
  position: relative;
  width: 22px;
  height: var(--stepper-button-height, 28px);
  @media (min-width: 602px) and (max-width: 768px) {
    width: 44px;
    height: var(--stepper-button-height, 56px);
  }
}
.stepper__button::before {
  content: "";
  display: block;
  width: 8px;
  height: 1.6px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  background-color: var(--stepper-button-color, #A1AEB3);
  @media (min-width: 602px) and (max-width: 768px) {
   height: 3.2px;
   width: 16px;
  }
}
.stepper__button-plus::after {
  content: "";
  display: block;
  width: 1.6px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  background-color: #A1AEB3;
  @media (min-width: 602px) and (max-width: 768px) {
    width: 3.2px;
    height: 16px;
  }
}
.stepper__value {
  background-color: transparent;
  max-width: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142;
  text-align: center;
  color: var(--stepper-value-color, #FFFFFF);
  max-width: 30%;
  width: 100%;
  @media (min-width: 602px) and (max-width: 768px) {
    font-size: 28px;
    max-width: 24px;
  }
}
