.tabs__toggler-container {
  margin-bottom: 22px;
}
.tabs__toggler {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #A1AEB3;
  margin-right: 12px;
}
.tabs__toggler.tab--active {
  color: #fff;
}

.tabs__page {
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  display: none;
}
.tabs__page.tab--active {
  opacity: 1;
  overflow: initial;
  display: unset;
}
