<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>До и после использования косметики Cosmomedica</title>
    <link rel="stylesheet" href="./css/style.css" >

    <!-- Отключить автодетект телефонов -->
    <meta name="format-detection" content="telephone=no" >

    <!-- Отключить кэширование. Нужен только при разработке, чтобы все было свежим -->
    <!--<meta http-equiv="Cache-Control" content="no-cache" >-->
    <!--<meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" >-->
  </head>
  <body class="page__changes-cases">
    <div class="wrapper">
      @@include('tpls/header.html',{})

      <main class="main">
        <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
          <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">До и после</a></li>
          <li class="breadcrumbs__item">Контактный дерматит</li>
        </ul>
        </div>
        <section class="page-heading">
          <h1 class="page-heading__title">Акне</h1>
          <div class="container">
            <div class="captions-1-1 page-heading__captions">
              <p class="captions-1-1__desc captions-1-1__desc--big">Акнé или угри́ — это длительное воспалительное заболевание кожи, возникающее в ситуации, когда мертвые клетки кожи и кожное сало забивают волосяной фолликул.</p>
              <p class="captions-1-1__desc">Типичными признаками этого состояния являются комедоны, пустулы, жирная кожа, возможно образование рубцов. В первую очередь заболевание поражает кожу с относительно большим количеством сальных желез, включая лицо, верхнюю часть груди и спины. В результате проявлений заболевания может привести к беспокойству, снижению самооценки и, в крайних случаях, депрессии или мысли о самоубийстве.
              Генетика является основной причиной появления акне в 80 % случаев. Роль диеты и курения неясна, и ни чистота, ни воздействие солнечного света, по мнению специалистов, не играют роли. У обоих полов гормоны, называемые андрогенами, по-видимому, являются частью основного механизма, вызывая повышенную выработку кожного сала.</p>
            </div>
          </div>
        </section>

        <section class="person-result">
          <div class="person-result__container">
            <h2 class="person-result__title section-title">Александра, 24 года</h2>
            <p class="person-result__desc">Результат спустя 6 месяцев использования средств Cosmomedica</p>

            <div class="gallery-accordion" data-start-show="5">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content person-result__gallery-content">
                  <a class="gallery-accordion__item person-result__media person-result__media--double" data-fancybox="gallery-accordion-modal-1" href="./img/changes/ba-21.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-21.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media person-result__media--double" data-fancybox="gallery-accordion-modal-1" href="./img/changes/ba-22.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-22.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-1" href="./img/changes/chat.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/chat.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-1" href="./img/changes/chat.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/chat.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-1" href="./img/changes/chat.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/chat.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media person-result__media--double" data-fancybox="gallery-accordion-modal-1" href="./img/changes/ba-12.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-12.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-1" href="./img/changes/chat.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/chat.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media person-result__media--double" data-fancybox="gallery-accordion-modal-1" href="./img/changes/ba-11.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-11.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-1" href="./img/changes/chat.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/chat.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-1" href="./img/changes/chat.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/chat.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                </div>
                <button class="button--thirdly gallery-accordion__button-more" data-fancybox-trigger="gallery-accordion-modal-1" >См. все фото (6)</button>
              </div>
            </div>
          </div>
        </section>
        <section class="related-products">
          <div class="related-products__container">
            <h2 class="section-title related-products__title">Использованные средства</h2>
            <div class="gallery-accordion" data-start-show="4">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content related-products__gallery">
                  @@include('tpls/cards/card-has-bottom-caption.html',{img: "card.png", className: "gallery-accordion__item"})
                  @@include('tpls/cards/card-has-tooltip.html',{img: "card.png", className: "gallery-accordion__item"})
                  @@for (var i = 1; i <= 14; i++) {
                    @@include('tpls/cards/card-has-bottom-caption.html',{img: "card.png", className: "gallery-accordion__item"})
                  }
                </div>
                <div class="container">
                  <button type="button" class="button button--primary button--light button--fullsize gallery-accordion__button-more">Показать полностью</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="related-products">
          <div class="related-products__container">
            <h2 class="section-title related-products__title">Так же рекомендуем попробовать</h2>
            <div class="gallery-accordion" data-start-show="4">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content related-products__gallery">
                  @@for (var i = 1; i <= 4; i++) {
                    @@include('tpls/cards/card-has-bottom-caption.html',{img: "card.png", className: "gallery-accordion__item"})
                  }
                </div>
                <div class="container">
                  <button class="button button--primary button--light button--fullsize gallery-accordion__button-more">Показать полностью</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="person-result person-result--has-top-gap">
          <div class="person-result__container">
            <h2 class="person-result__title section-title">Иван, 27 лет</h2>
            <p class="person-result__desc">Результат спустя 6 месяцев использования средств Cosmomedica</p>

            <!-- <div class="person-result__compare"> -->
            <div class="person-result__compare gallery-accordion" data-start-show="3">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content person-result__gallery-content">
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-2" href="./img/changes/ba-11.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-11.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-2" href="./img/changes/ba-12.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-12.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="related-products">
          <div class="related-products__container">
            <h2 class="section-title related-products__title">Использованные средства</h2>
            <div class="gallery-accordion" data-start-show="8">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content related-products__gallery">
                  @@for (var i = 1; i <= 7; i++) {
                    @@include('tpls/cards/card-has-bottom-caption.html',{img: "card.png", className: "gallery-accordion__item"})
                  }
                </div>
                <div class="container">
                  <a href="#" class="button button--primary button--light button--fullsize">Добавить в корзину весь набор</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="person-result person-result--has-top-gap">
          <div class="person-result__container">
            <h2 class="person-result__title section-title">Надежда, 30 лет</h2>
            <p class="person-result__desc">Результат спустя 6 месяцев использования средств Cosmomedica</p>

            <!-- <div class="person-result__compare"> -->
            <div class="person-result__compare gallery-accordion" data-start-show="3">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content person-result__gallery-content">
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-3" href="./img/changes/ba-31.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-31.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-3" href="./img/changes/ba-32.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/ba-32.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                  <a class="gallery-accordion__item person-result__media" data-fancybox="gallery-accordion-modal-3" href="./img/changes/ba-31.jpg">
                    <picture class="person-result__media-pic">
                      <!-- <source data-srcset="./img/magazine/blog-1.webp," type="image/webp"> -->
                      <img
                        class="person-result__media-img"
                        src="./img/changes/chat.jpg"
                        alt=""
                      >
                    </picture>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="related-products">
          <div class="related-products__container">
            <h2 class="section-title related-products__title">Использованные средства</h2>
            <div class="gallery-accordion" data-start-show="8">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content related-products__gallery">
                  @@for (var i = 1; i <= 2; i++) {
                    @@include('tpls/cards/card-has-bottom-caption.html',{img: "card.png", className: "gallery-accordion__item"})
                  }
                </div>
                <div class="container">
                  <button type="button" class="button button--primary button--light button--fullsize gallery-accordion__button-more">Показать полностью</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="related-products">
          <div class="related-products__container">
            <h2 class="section-title related-products__title">Так же рекомендуем попробовать</h2>
            <div class="gallery-accordion" data-start-show="4">
              <div class="container gallery-accordion__container">
                <div class="gallery-accordion__content related-products__gallery">
                  @@for (var i = 1; i <= 4; i++) {
                    @@include('tpls/cards/card-has-bottom-caption.html',{img: "card.png", className: "gallery-accordion__item"})
                  }
                </div>
                <div class="container">
                  <button class="button button--primary button--light button--fullsize gallery-accordion__button-more">Показать полностью</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <form class="container changes__load-more">
          <button class="button button--primary button--dark button--fullsize before-after__button-more">Показать больше примеров</button>
        </form>

        <section class="categories changes__troubles">
          <div class="categories__container">
            <h2 class="categories__title section-title section-text--center">Другие проблемы кожи</h2>
            <nav class="categories-nav">
              <ul class="categories-nav__list">
                <li class="categories-nav__list-item">
                  <a href="#" class="categories-nav__list-link">Акне</a>
                </li>
                <li class="categories-nav__list-item">
                  <a href="#" class="categories-nav__list-link">Пигментация</a>
                </li>
                <li class="categories-nav__list-item">
                  <a href="#" class="categories-nav__list-link">Аллергия</a>
                </li>
                <li class="categories-nav__list-item">
                  <a href="#" class="categories-nav__list-link">Экзема</a>
                </li>
                <li class="categories-nav__list-item">
                  <a href="#" class="categories-nav__list-link">Дерматит</a>
                </li>
                <li class="categories-nav__list-item">
                  <a href="#" class="categories-nav__list-link">Деформация овала лица</a>
                </li>
              </ul>
            </nav>
          </div>
        </section>

        <div class="captions">
          <div class="container">
            <div class="changes__captions captions-1-1">
              <p class="captions-1-1__desc captions-1-1__desc--big">
                Эти фотографии демонстрируют эффективность наших средств в борьбе против ряда проблем, однако Codmomedica не гарантирует результат
              </p>
              <p class="captions-1-1__desc">
                Эффективность средств по уходу за кожей зависит от целого ряда факторов, таких как тяжесть заболевания, постоянность соблюдения режима ухода за кожей, диета, а также многих других переменных факторов. Результаты после применения косметики могут отличаться, а также могут быть достигнуты в разные сроки. Cosmomedica не делает никаких заявлений и не дает гарантий любого рода, прямых или косвенных, относительно полноты, точности, надежности или пригодности продуктов, услуг или связанных с ними графических изображений, содержащихся в этом каталоге или на нашем веб-сайте. Таким образом, покупатель сам решает, полагаться ли на действие продукта и ожидать ли от него определенных результатов, осознавая связанные с этим риски.
            </div>
          </div>
        </div>
        @@include('tpls/sections/callback-cards.html',{})
      </main>

      @@include('tpls/footer.html',{})
    </div>

    @@include('tpls/modals.html', {})
    <script src="./js/bundle.min.js"></script>
  </body>
</html>
