<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Корзина</title>
    <link rel="stylesheet" href="./css/style.css" >

    <!-- Отключить автодетект телефонов -->
    <meta name="format-detection" content="telephone=no" >

    <!-- Отключить кэширование. Нужен только при разработке, чтобы все было свежим -->
    <!--<meta http-equiv="Cache-Control" content="no-cache" >-->
    <!--<meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" >-->
  </head>
  <body class="page__cart">
    <div class="wrapper">
      @@include('tpls/header.html',{})

      <main class="main">
        <section class="page-heading">
          <h1 class="page-heading__title">Корзина</h1>
        </section>

          <div class="cart">
            <div class="cart-heading">
              <p class="cart-heading__count">3 товара</p>
              <button class="button--thirdly cart__button-clear">Очистить корзину</button>
            </div>
            <div class="cart__columns">
              <div class="cart__items">
                <div class="cart__gallery products--layout-horizontal">
                  @@include('tpls/cards/cart-card.html',{img: "product-cropped.png", className: "cart__product"})
                  @@include('tpls/cards/cart-card.html',{img: "product-cropped.png", className: "cart__product"})
                  @@include('tpls/cards/cart-card.html',{img: "product-cropped.png", className: "cart__product"})
                </div>

                <div class="container cart__section">
                  <h2 class="section-title cart__title">Ваш подарок — крем 15 мл на выбор</h2>
                  <div class="gallery-accordion" data-start-show="4">
                    <div class="container gallery-accordion__container">
                      <div class="gallery-accordion__content cart__gifts-gallery">
                        @@include('tpls/cards/product-card-free.html',{img: "product-cropped.png", className: "gallery-accordion__item cart__gift product-card--in-cart"})
                        @@for (var i = 1; i < 8; i++) {
                          @@include('tpls/cards/product-card-free.html',{img: "product-cropped.png", className: "gallery-accordion__item cart__gift"})
                        }
                      </div>
                      <button class="button button--primary button--light button--fullsize gallery-accordion__button-more cart__gifts-gallery-button">Показать все доступные подарки</button>
                    </div>
                  </div>
                </div>

                <div class="container cart__section">
                  <h2 class="section-title cart__title">Добавьте товаров на 3500 ₽ и получите ещё подарок</h2>
                  <div class="gallery-accordion" data-start-show="4">
                    <div class="container gallery-accordion__container">
                      <div class="gallery-accordion__content cart__gifts-gallery">
                        @@for (var i = 1; i < 8; i++) {
                          @@include('tpls/cards/product-card-free.html',{img: "product-cropped.png", className: "gallery-accordion__item cart__gift product-card--out"})
                        }
                      </div>
                      <button class="button button--primary button--light button--fullsize gallery-accordion__button-more cart__gifts-gallery-button">Показать все доступные подарки</button>
                    </div>
                  </div>
                </div>

                <div class="container cart__section">
                  <h2 class="section-title cart__title">Дополнительно</h2>
                  <div class="gallery-accordion" data-start-show="4">
                    <div class="container gallery-accordion__container">
                      <div class="gallery-accordion__content cart__gifts-gallery">
                        @@for (var i = 1; i <= 2; i++) {
                          @@include('tpls/cards/product-card-free.html',{img: "product-cropped.png", className: "gallery-accordion__item cart__gift"})
                        }
                      </div>
                      <button class="button button--primary button--light button--fullsize gallery-accordion__button-more cart__gifts-gallery-button">Показать все доступные подарки</button>
                    </div>
                  </div>
                </div>
              </div>
              <aside class="cart-sidebar sidebar">
                <div class="sidebar__sticky cart-sidebar__sticky">
                  <article class="cart-total sidebar-card sidebar-card--autoheight">
                    <div class="cart-total__row">
                      <h4 class="cart-total__title">Итого</h4>
                      <p class="cart-total__value">12 000 ₽</p>
                    </div>
                    <button class="button button--primary button--light button--fullsize cart-total__button-submit">Перейти к оформлению заказа</button>
                  </article>
                </div>
              </aside>
            </div>
          </div>



      </main>

      @@include('tpls/footer.html',{})
      </div>

      @@include('tpls/modals.html', {})
      <section class="poppa poppa--wide out-of-stock-pop" id="out-of-stock-pop">
      <div class="search-pop__container">
        <div class="out-of-stock-pop__gallery cart__gallery products--layout-horizontal">
          @@include('tpls/cards/card.html',{img: "product-cropped.png", className: "cart__product product-card--out"})
          @@include('tpls/cards/card.html',{img: "product-cropped.png", className: "cart__product product-card--out"})
        </div>
        <div class="container flex flex--center flex--column">
          <button class="button button--primary button--light out-of-stock-pop__button-remove">Удалить закончившийся товар</button>
          <button class="button--thirdly out-of-stock-pop__button-remove-all">Удалить все отсутствующие товары (2)</button>
        </div>
        <div class="search-pop__results">
          <h2 class="section-title search-pop__title">
            Возможно, вас заинтересуют другие товары
          </h2>
          <div class="search-pop__gallery">
            <div class="search-pop__gallery-inner">
              @@include('./tpls/cards/card.html',{img: "card.png"})
              @@include('./tpls/cards/card.html',{img: "card.png"})
              @@include('./tpls/cards/card.html',{img: "card.png"})
              @@include('./tpls/cards/card.html',{img: "card.png"})
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="./js/bundle.min.js"></script>
  </body>
</html>
