@use "sass:math";

// Миксины
@import "./mixins";

// Шрифты
// @include font('Gilroy', normal, 400, '../resources/fonts/Gilroy/Gilroy-Regular.woff2');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');

// Переменные
// Текст
$text-primary: #333;
$text-second: brig-color($text-primary, 0.7);
$text-label: #bdbdbd;
$accent: #ffcd6d;
$light: #fff;

// Задний фон разделов
// $frame-dark: #080A0A;
// $frame-light: #0E1010;

// Обводка
$border-line: #cecece;

// Радиусы
$radius-s: 4px;
$radius-l: 30px;

// Текстовые поля
$input-placeholder: brig-color(#000, 0.3);

// Уведомления
$error: #eb5757;

// ================ Colors End ================

// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1200;
$container-padding: 48;
$container-width: $max-width-container + $container-padding;

:root {
  --container-padding: #{math.div($container-padding, 2) + "px"};
}

$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;
$hide-menu: $tablet;
// ================ Responsive End ================

// ================ Other Start ================
$ff-main: sans-serif;
$tr: 0.3s;
// ================ Other End ================
//========================================================================================================================================================

// Сброс CSS
@import "./reset";

body {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $text-primary;

  ._lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  & > .content {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
  }
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
[class*="__container"] {
  @if ($max-width-container>0) {
    max-width: $max-width-container;
    box-sizing: content-box;
    margin: 0 auto;
  }
  @if ($container-padding>0) {
    padding: 0 var(--container-padding);
  }

  @media (max-width: $tablet) {
    --container-padding: 30px;
  }

  @media (max-width: $mobile-l) {
    --container-padding: 20px;
  }

  @media (max-width: $mobile-m) {
    --container-padding: 16px;
  }
}

// Библиотеки
// @import "./libs/swiper";
// @import "./libs/lightgallery";
// @import "./libs/rangeslider";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Компоненты
// @import "./components/";

// Карточки
// @import "./components/cards/";

// Модальные окна
// @import "./components/modals/";

// Секции
@import "./sections/header";
@import "./sections/main";
@import "./sections/footer";

// Стили для отдельных страниц
// @import "./pages/";
