/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

@import "./variables";
@import "./mixins";
@import "./components";

// Шрифты
@include font(
  "RF Dewi Extended",
  normal,
  400,
  "../resources/fonts/RFDewiExtended-Regular"
);
@include font(
  "RF Dewi Extended",
  normal,
  600,
  "../resources/fonts/RFDewiExtended-Bold"
);
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');

// Сброс CSS
@import "./reset";

body {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $text-primary;
  background-color: var(--bg-app);
}
body._lock {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding-right: 8px;
  padding-left: 8px;
  overflow: hidden;
}
.wrapper > .content {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
// [class*="__container"] {
//   @if ($max-width-container > 0) {
//     box-sizing: content-box;
//     max-width: $max-width-container;
//     margin: 0 auto;
//   }
//   @if ($container-padding > 0) {
//     padding: 0 var(--container-padding);
//   }

//   @media (max-width: $tablet) {
//     --container-padding: 30px;
//   }

//   @media (max-width: $mobile-l) {
//     --container-padding: 20px;
//   }

//   @media (max-width: $mobile-m) {
//     --container-padding: 16px;
//   }
// }
.container {
  max-width: 1186px;
  margin-right: auto;
  margin-left: auto;
  // padding-right: 16px;
  // padding-left: 16px;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
  opacity: 0;
}

// Библиотеки
@import "./libs/swiper";
// @import "./libs/lightgallery";
// @import "./libs/rangeslider";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Карточки
// @import "./components/cards/";

// Модальные окна
// @import "./components/modals/";

// Секции
@import "./sections/header";
@import "./sections/main";
@import "./sections/hero";
@import "./sections/popular";
@import "./sections/changes";
@import "./sections/testimonials";
@import "./sections/magazine";
@import "./sections/blog";
@import "./sections/locations";
@import "./sections/footer";

// Стили для отдельных страниц
// @import "./pages/";
